@page "{id:int}"
@using CustomFramework.BaseWebApi.Resources

@model MySuperStats.WebUI.Pages.AddGuestToMatchGroupModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("AddGuestToMatchGroup");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="card">
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="card-body">

            <div class="form-group">
              <label>@(localizer.GetValue("Enter the firstname"))</label>              
              <div class="input-group-prepend">
                  <input asp-for="PlayerRequest.FirstName" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter the firstname"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-edit"></span>
                    </div>
                  </div>
              </div>  
                <span asp-validation-for="PlayerRequest.FirstName" class="text-danger"></span>                        
            </div> 
            <!-- /.form group --> 

            <div class="form-group">
              <label>@(localizer.GetValue("Enter the lastname"))</label>              
              <div class="input-group-prepend">
                  <input asp-for="PlayerRequest.LastName" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter the lastname"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-edit"></span>
                    </div>
                  </div>
              </div>  
                <span asp-validation-for="PlayerRequest.LastName" class="text-danger"></span>                        
            </div> 
            <!-- /.form group -->          

            <!-- Date dd/mm/yyyy -->
            <div class="form-group">
              <label>@(localizer.GetValue("Enter the birth date"))</label>              
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" asp-for="PlayerRequest.BirthDate" placeholder="@(localizer.GetValue("BirthDate"))" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
              </div>
              <!-- /.input group -->
              <span asp-validation-for="PlayerRequest.BirthDate" class="text-danger"></span>                        
            </div>
            <!-- /.form group -->          

          </div>
          <!-- /.box-body -->

          <div class="card-footer">
            <input type="submit" id="btnAddGuest" class="btn btn-primary" asp-page-handler="AddGuest"
            value="@(localizer.GetValue("AddGuest"))"/>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>
<!-- /.content -->