@page "{id:int}"
@using CustomFramework.BaseWebApi.Resources

@model MySuperStats.WebUI.Pages.AddUserToMatchGroupModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("AddUserToMatchGroup");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">@(localizer.GetValue("AddUserToMatchGroup"))</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="card-body">

            <div class="form-group">
              <label>@(localizer.GetValue("Enter your e-mail address"))</label>              
              <div class="input-group-prepend">
              <input asp-for="EmailAddress" class="form-control" type="email" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
              </div>  
              <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div> 
            <!-- /.form group -->            

          </div>
          <!-- /.box-body -->

          <div class="card-footer">
            <input type="submit" id="btnAddUserToMatchGroup" asp-page-handler="AddUserToMatchGroup"  class="btn btn-primary" value="@(localizer.GetValue("AddUser"))"/>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>
<!-- /.content -->