@page "{id:int}"
@using CustomFramework.BaseWebApi.Resources
@model MySuperStats.WebUI.Pages.FootballStatsEntryModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("StatisticEntry");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<script>
$(document).ready(function() {

  $('.input-group.date').datepicker({
      todayBtn: "linked",
      language: "tr",
      orientation: "bottom auto"
  });

  var culture = getCultureFromURL();

  var g_id = getIdFromURL();
  var loggedUserId = 0;
  var pageUrl = "/" + culture + "/FootballStatsEntry/" + g_id;


  function MatchStats(matchdate, order,durationinminutes, videolink, firstteamstats, secondteamstats){
      this.matchdate = matchdate;
      this.order = order;
      this.durationinminutes = durationinminutes;
      this.videolink = videolink;
      this.firstteamstats = firstteamstats;
      this.secondteamstats = secondteamstats;
  }  

  var firstTeam = [];
  var secondTeam = [];

  var firstTeamStats = [];
  var secondTeamStats = [];

  var team1TotalGoal = 0;
  var team2TotalGoal = 0;

  var team1TotalOwnGoal = 0;
  var team2TotalOwnGoal = 0;  

  function getTeamStatsTable(tableName, data, statsSelectionData, isTeam1, opponentTeamTableName){
      var tabulatorName = "#" + tableName + "Stats";

      var columnData = [
        {title:"playerid", field:"playerid", visible:false},
        {title: GetLocalizedValue(pageUrl, "FirstNameLastName"), field:"name"},
        {title: GetLocalizedValue(pageUrl, "Goal"), field:"goal", editor:"input", bottomCalc:"sum", validator:["min:0", "max:100", "integer"]},
      ];

      var ownGoalVisibility = statsSelectionData[0].haschecked;
      var penaltyScoreVisibility = statsSelectionData[1].haschecked;
      var missedPenaltyVisibility = statsSelectionData[2].haschecked;
      var assistVisibility = statsSelectionData[3].haschecked;
      var saveGoalScoreVisibility = statsSelectionData[4].haschecked;
      var concedeGoalVisibility = statsSelectionData[5].haschecked;

      columnData.push({title: GetLocalizedValue(pageUrl, "OwnGoal"), field:"owngoal", visible: ownGoalVisibility, editor:"input", bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});
      columnData.push({title: GetLocalizedValue(pageUrl, "PenaltyScore"), field:"penaltyscore", visible: penaltyScoreVisibility, editor:"input", bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});
      columnData.push({title: GetLocalizedValue(pageUrl, "MissedPenalty"), field:"missedpenalty", visible: missedPenaltyVisibility, editor:"input", bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});
      columnData.push({title: GetLocalizedValue(pageUrl, "Assist"), field:"assist", editor:"input", visible:assistVisibility, bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});
      columnData.push({title: GetLocalizedValue(pageUrl, "SaveGoal"), field:"savegoal", editor:"input", visible: saveGoalScoreVisibility, bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});
      columnData.push({title: GetLocalizedValue(pageUrl, "ConcedeGoal"), field:"concedegoal", editor:"input", visible:concedeGoalVisibility, bottomCalc:"sum", validator:["min:0", "max:100", "integer"]});

      var table = new Tabulator(tabulatorName, {
          height:250, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
          layout:"fitColumns", //fit columns to width of table (optional)
          responsiveLayout:true, // enable responsive layouts    
          pagination : "local",
          ajaxLoader: true,
          pagin
          langs: getTabulatorLocalization(), 
          columns: columnData,    
          cellEdited: function(cell) {              
              var results = table.getCalcResults();
              var goalTotal = results.bottom.goal;
              var ownGoalTotal = results.bottom.owngoal;
              $("#" + tableName + "Score").text(goalTotal);

              if(isTeam1 == true){
                team1TotalGoal = goalTotal;
                team1TotalOwnGoal = ownGoalTotal;
                
                $("#" + tableName + "Score").text(goalTotal + team2TotalOwnGoal);
                $("#" + opponentTeamTableName + "Score").text(team2TotalGoal + team1TotalOwnGoal);
              }
              else{
                team2TotalGoal = goalTotal;
                team2TotalOwnGoal = ownGoalTotal;
 
                $("#" + tableName + "Score").text(goalTotal + team1TotalOwnGoal);
                $("#" + opponentTeamTableName + "Score").text(team1TotalGoal + team2TotalOwnGoal);
              }              
          },        
        });    
      table.setLocale(culture);
      table.setData(data);
      
      return table;
  }

  $("#btnBackToMatchDetails").click( function(e)
  {
      $('#divCreateTeams').hide();
      $("#txtMatchDate").prop('disabled', false);
      $("#txtOrder").prop('disabled', false);
      $("#txtDurationInMinutes").prop('disabled', false);
      $("#txtVideoLink").prop('disabled', false);
      $("#btnEntryStats").prop('disabled', false);
      e.preventDefault();
  });

  $("#btnEntryStats").click(function(e)
  {                      
    var orderValidation = $('#txtOrder').valid();
    var durationValidation = $('#txtDurationInMinutes').valid();
    var videoLinkValidation = $('#txtVideoLink').valid();

    var order = $("#txtOrder").val();
    var matchDateString = $('#txtMatchDate').val();
    
    let model = {
          "MatchDateString": matchDateString,
          "Order": order,
          "MatchGroupId": g_id
    };

      $.ajax({
          type: "POST",
          url: pageUrl + "?handler=CheckMatchIsUnique",
          beforeSend: function (xhr) {
              xhr.setRequestHeader("XSRF-TOKEN",
                  $('input:hidden[name="__RequestVerificationToken"]').val());
                  $(".overlay").show();
          },
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify(model),     
          success: function(response, textStatus, xhr){
            if (response == true){
              if(orderValidation && durationValidation && videoLinkValidation){
                  $('#divCreateTeams').show();
                  $("#txtMatchDate").prop('disabled', true);
                  $("#txtOrder").prop('disabled', true);
                  $("#txtDurationInMinutes").prop('disabled', true);
                  $("#txtVideoLink").prop('disabled', true);
                  $("#btnEntryStats").prop('disabled', true);
              }

              getTeamPlayers(pageUrl, culture, firstTeam, "football", "first-team-players");
              getTeamPlayers(pageUrl, culture, secondTeam, "football", "second-team-players");
            }
            else{
              $("#errorDiv").hide().slideDown().delay(2000).fadeOut();
              $("#errorMessage").text(GetLocalizedValue(pageUrl, "MatchDate and order must be unique")); 
            }
          },
          error: function(XMLHttpRequest, textStatus, error){
            $("#errorDiv").hide().slideDown().delay(1000).fadeOut();
            $("#errorMessage").text(GetLocalizedValue(pageUrl, "AnErrorHasOccured"));
          },
          complete: function(){
            $(".overlay").hide();
          }
      });

    e.preventDefault();

  }); 

  var firstTeamStatsTable;
  var secondTeamStatsTable;
  var statsSelectionTable;

  $("#btnSetTeamPlayers").click( function(e)
  {
    if(firstTeam.length == 0 || secondTeam.length == 0){
        $("#errorDiv").hide().slideDown().delay(1000).fadeOut();
        $("#errorMessage").text(GetLocalizedValue(pageUrl, "Please select players from both teams"));
        e.preventDefault();
        return;
    }

    var data = [
        {id: 1, name: GetLocalizedValue(pageUrl, "OwnGoal"), haschecked: true},
        {id: 2, name: GetLocalizedValue(pageUrl, "PenaltyScore"), haschecked: true},
        {id: 3, name: GetLocalizedValue(pageUrl, "MissedPenalty"), haschecked: true},
        {id: 4, name: GetLocalizedValue(pageUrl, "Assist"), haschecked: true},
        {id: 5, name: GetLocalizedValue(pageUrl, "SaveGoal"), haschecked: true},
        {id: 6, name: GetLocalizedValue(pageUrl, "ConcedeGoal"), haschecked: true},
    ];

    statsSelectionTable = getStatsType(pageUrl, data);

    $("#divCreateTeams").hide();
    $("#divSelectStats").show();
    e.preventDefault();
  });  

  $("#btnSelectStats").click( function(e)
  {
    firstTeamStatsTable = getTeamStatsTable("firstTeam", firstTeam, statsSelectionTable.getData(), true, "secondTeam");
    secondTeamStatsTable = getTeamStatsTable("secondTeam", secondTeam, statsSelectionTable.getData(), false, "firstTeam");

    $("#divSelectStats").hide();
    $("#divTeamStats").show();
    e.preventDefault();
  });  

  $("#btnBackToCreateTeams").click( function(e)
  {
      $("#divSelectStats").hide();    
      $("#divCreateTeams").show();
      e.preventDefault();
  });  

  $("#btnBackToselectStats").click( function(e)
  {
      $("#divTeamStats").hide();    
      $("#divSelectStats").show();
      e.preventDefault();
  });    

  $("#btnSendStats").click(function(e)
  {                   
      var firstTeamGridDatas = firstTeamStatsTable.getData();
      var secondTeamGridDatas = secondTeamStatsTable.getData();   

      var statsSelectionData = statsSelectionTable.getData();

      var ownGoalVisibility = statsSelectionData[0].haschecked;
      var penaltyScoreVisibility = statsSelectionData[1].haschecked;
      var missedPenaltyVisibility = statsSelectionData[2].haschecked;
      var assistVisibility = statsSelectionData[3].haschecked;
      var saveGoalScoreVisibility = statsSelectionData[4].haschecked;
      var concedeGoalVisibility = statsSelectionData[5].haschecked;

      for (i = 0; i < firstTeamGridDatas.length; i++){
        addToFootballStats(
          firstTeamStats
        , firstTeamGridDatas[i].playerid
        , 1
        , firstTeamGridDatas[i].goal
        , (ownGoalVisibility) ? firstTeamGridDatas[i].owngoal : null
        , (penaltyScoreVisibility) ? firstTeamGridDatas[i].penaltyscore : null 
        , (missedPenaltyVisibility) ? firstTeamGridDatas[i].missedpenalty : null
        , (assistVisibility) ? firstTeamGridDatas[i].assist : null
        , (saveGoalScoreVisibility) ? firstTeamGridDatas[i].savegoal : null
        , (concedeGoalVisibility) ? firstTeamGridDatas[i].concedegoal : null
        );
      }      

      for (i = 0; i < secondTeamGridDatas.length; i++){
        addToFootballStats(
          secondTeamStats
        , secondTeamGridDatas[i].playerid
        , 2
        , secondTeamGridDatas[i].goal
        , (ownGoalVisibility) ? secondTeamGridDatas[i].owngoal : null
        , (penaltyScoreVisibility) ? secondTeamGridDatas[i].penaltyscore : null 
        , (missedPenaltyVisibility) ? secondTeamGridDatas[i].missedpenalty : null
        , (assistVisibility) ? secondTeamGridDatas[i].assist : null
        , (saveGoalScoreVisibility) ? secondTeamGridDatas[i].savegoal : null
        , (concedeGoalVisibility) ? secondTeamGridDatas[i].concedegoal : null
        );
      }        

      var matchDate = $("#txtMatchDate").val();    

      var order = $("#txtOrder").val();
      var durationInMinutes = $("#txtDurationInMinutes").val();
      var videoLink = $("#txtVideoLink").val();

      var matchStats = new MatchStats(matchDate, order,durationInMinutes, videoLink, firstTeamStats, secondTeamStats);


      $.ajax({
          type: "POST",
          url: pageUrl + "?handler=FromGrid",
          beforeSend: function (xhr) {
              xhr.setRequestHeader("XSRF-TOKEN",
                  $('input:hidden[name="__RequestVerificationToken"]').val());
                  $(".overlay").show();
          },
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify({  
              MatchDate: matchDate
              , Order: order
              , DurationInMinutes: durationInMinutes
              , VideoLink: videoLink
              , FirstTeamStats: firstTeamStats
              , SecondTeamStats: secondTeamStats
          }),     
          success: function(response, textStatus, xhr){
            if (response.startsWith("OK-")){
              $("#btnSendStats").attr("disabled", "disabled");
              var redirectUrl = response.slice(3);
              window.location.href = redirectUrl;
            }
            else{
              $("#errorDiv").hide().slideDown().delay(3000).fadeOut();
              $("#errorMessage").text(response);                  
            }
          },
          error: function(XMLHttpRequest, textStatus, error){
            $("#errorDiv").hide().slideDown().delay(3000).fadeOut();
            $("#errorMessage").text(GetLocalizedValue(pageUrl, "AnErrorHasOccured") + error);
          },
          complete: function(){
            $(".overlay").hide();
          }
      });

    e.preventDefault();
  });   

});

</script>

<!-- Main content -->
<style>
    .row {
        display: table;
        width: 100%;
    }

    .row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
</style>
<section class="content">
 
  <form method="post">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">@(localizer.GetValue("MatchInfo"))</h3>
          </div>

          <!-- /.box-header -->
            <div class="box-body">
                <div class="row">                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="txtMatchDate">@(localizer.GetValue("Date"))</label>
                      <div class="input-group date">
                        <input id="txtMatchDate" type="text" class="form-control" asp-for="Model.MatchRequest.MatchDate" placeholder="@localizer.GetValue("Enter the date of the match")">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-th"></i>
                        </span>
                      </div>              
                      <span asp-validation-for="Model.MatchRequest.MatchDate" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="txtOrder">@(localizer.GetValue("Order"))</label>
                      <input id="txtOrder" asp-for="Model.MatchRequest.Order" class="form-control" placeholder="@localizer.GetValue("Enter the order of the match")">
                      <span asp-validation-for="Model.MatchRequest.Order" class="text-danger"></span>                        
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="txtDurationInMinutes">@(localizer.GetValue("DurationOfTheMatch"))</label>
                      <input id="txtDurationInMinutes" asp-for="Model.MatchRequest.DurationInMinutes" class="form-control" placeholder="@localizer.GetValue("Enter the duration of the match")">
                      <span asp-validation-for="Model.MatchRequest.DurationInMinutes" class="text-danger"></span>                        
                    </div>
                  </div>                      
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="txtVideoLink">@(localizer.GetValue("VideoLink"))</label>
                      <input id="txtVideoLink" asp-for="Model.MatchRequest.VideoLink" type="text" class="form-control" placeholder="@localizer.GetValue("Enter the url of the video")">
                      <span asp-validation-for="Model.MatchRequest.VideoLink" class="text-danger"></span>                        
                    </div>   
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" style="padding-top:20px">
                        <input type="submit" id="btnEntryStats" class="btn btn-primary" value="@localizer.GetValue("Select the teams")"/>                   
                    </div>   
                  </div>                  
                </div>    
                <!-- row -->
            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="container">
      <div id="successDiv" class="alert alert-success" style="display:none">
        <strong>@(localizer.GetValue("Successful"))!</strong> <span id="successMessage">@(localizer.GetValue("Success"))</span>
      </div>
      <div id="warningDiv" class="alert alert-warning" style="display:none">
        <strong>@(localizer.GetValue("Warning"))!</strong> <span id="warningMessage"></span>
      </div>        
      <div id="errorDiv" class="alert alert-danger" style="display:none">
        <strong>@(localizer.GetValue("Error"))!</strong> <span id="errorMessage">@(localizer.GetValue("AnErrorHasOccured"))</span>
      </div>
    </div>

    <div id="divCreateTeams" style="display:none">
        <div class="row">
          <!-- left column -->
          <div class="col-md-5">
            <!-- general form elements -->
            <div class="box box-primary">
              <!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                    <label>@(localizer.GetValue("Select players of the first team"))</label>
                    <div id="first-team-players"> </div>
                  </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>
          <!--/.col (left) -->

          <!-- middle column -->
          <div class="col-md-5">
            <!-- general form elements -->
            <div class="box box-primary">
              <!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                    <label>@(localizer.GetValue("Select players of the second team"))</label>
                      <div id="second-team-players"> </div>
                  </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (middle) -->

          <!-- right column -->
          <div class="col-md-2" style="vertical-align: middle;">
              <input type="submit" id="btnBackToMatchDetails" class="btn btn-primary" value="@(localizer.GetValue("GoBack"))" style="width:150px"/>
              <br>
              <br>
              <input type="submit" id="btnSetTeamPlayers" class="btn btn-primary" value="@(localizer.GetValue("CreateTeams"))" style="width:150px"/>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.createTeams -->

    <div id="divSelectStats" style="display:none">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elements -->
            <div class="box box-primary">
              <!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                    <label>@(localizer.GetValue("Select football stats"))</label>
                    <div id="selectStats"> </div>
                  </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>
          <!--/.col (left) -->   

          <!-- right column -->
          <div class="col-md-2" style="vertical-align: middle;">
              <input type="submit" id="btnBackToCreateTeams" class="btn btn-primary" value="@(localizer.GetValue("GoBack"))" style="width:150px"/>
              <br>
              <br>
              <input type="submit" id="btnSelectStats" class="btn btn-primary" value="@(localizer.GetValue("Select football stats"))" style="width:150px"/>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->     
    </div>
    <!-- /.select football stats -->              

    <div id="divTeamStats" style="display:none">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <!-- /.box-header -->
                  <div class="box-body">
                    <div class="form-group">
                      <label>@(localizer.GetValue("FirstTeam")):</label><span id="firstTeamScore"></span>
                      <div id="firstTeamStats"> </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!--/.col -->
          </div>
          <!--/.row -->

        <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <!-- /.box-header -->
                  <div class="box-body">
                    <div class="form-group">
                      <label>@(localizer.GetValue("SecondTeam")):</label><span id="secondTeamScore"></span>                  
                      <div id="secondTeamStats"> </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!--/.col -->
          </div>
          <!--/.row -->      
        </div>
        <div class="col-md-2" style="vertical-align: middle;">
              <input type="submit" id="btnBackToSelectStats" class="btn btn-primary" value="@(localizer.GetValue("GoBack"))" style="width:150px"/>
              <br>
              <br>          
            <input type="submit" id="btnSendStats" class="btn btn-primary" value="@(localizer.GetValue("SaveStats"))" style="width:150px"/>
        </div>
      </div>          
    </div>
    <!-- /.team-stats -->

  </form>

</section>
<!-- /.content -->