@page
@using MySuperStats.WebUI.Pages
@model MySuperStats.WebUI.Pages.IndexModel
@{
    ViewData["Title"] = "İstatistiklerim";
}
<script>
  $(function () {
    $('#players_matches').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>

    <!-- Main content -->
    <section class="content">

    <div class="row">
        <div class="col-md-1">
            <h2>@(ViewData["Title"])</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Doğum Tarihi</label> 
        </div>
        <div class="col-md-2">
            @(Model.PlayerStats.BirthDate.ToString("dd-MM-yyyy"))
        </div>
    </div>

    <div class="row">
      <div class="col-md-1">
          <label>Karşılaşma Grubu</label>
      </div>
      <div class="col-md-2">
          <select id="slcMatchGroup" Name="slcMatchGroup" asp-items="Model.MatchGroups"
          class="form-control select2">
          </select>     
      </div>
    </div>
@if (Model.PlayerStats.Matches.Count > 0)
{
  var totalStatForUI = Model.PlayerStats.TotalStats.GetStatsForUI();
  var perMatchStatForUI = Model.PlayerStats.PerMatchStats.GetStatsForUI();

      <div class="row">
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Toplam İstatistikler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="total_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>1 Sayı</th>
                    <th>2 Sayı</th>
                    <th>Ribaunt</th>
                    <th>Kapma</th>
                    <th>Asist</th>
                    <th>Kayıp</th>
                    <th>Kesme</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(totalStatForUI.OnePoint)</td>
                          <td>@(totalStatForUI.TwoPoint)</td>
                          <td>@(totalStatForUI.Rebound)</td>
                          <td>@(totalStatForUI.StealBall)</td>
                          <td>@(totalStatForUI.Assist)</td>
                          <td>@(totalStatForUI.LooseBall)</td>
                          <td>@(totalStatForUI.Interrupt)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Maç Başına İstatistikler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="per_match_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>1 Sayı</th>
                    <th>2 Sayı</th>
                    <th>Ribaunt</th>
                    <th>Kapma</th>
                    <th>Asist</th>
                    <th>Kayıp</th>
                    <th>Kesme</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(perMatchStatForUI.OnePoint)</td>
                          <td>@(perMatchStatForUI.TwoPoint)</td>
                          <td>@(perMatchStatForUI.Rebound)</td>
                          <td>@(perMatchStatForUI.StealBall)</td>
                          <td>@(perMatchStatForUI.Assist)</td>
                          <td>@(perMatchStatForUI.LooseBall)</td>
                          <td>@(perMatchStatForUI.Interrupt)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Ortalama İstatistikler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="avg_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>1 Sayı %</th>
                    <th>2 Sayı %</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(Model.PlayerStats.RatioTable.OnePointRatio)</td>
                          <td>@(Model.PlayerStats.RatioTable.TwoPointRatio)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Galibiyet - Mağlubiyet Tablosu</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="win_loose_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Sonuçlar</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(Utils.Functions.GetFirstCharOfEnumValues(Model.PlayerStats.MatchForms))</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Kazanma/Kaybetme Oranı</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="win_loose_ratio_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Kazanma</th>
                    <th>Kaybetme</th>
                    <th>Kazanma %</th>
                    <th>Kaybetme %</th>                    
                </tr>
                </thead>
                <tbody>
                      <tr>
                            <td>@(Math.Round(Model.PlayerStats.WinLooseTable.Win))</td>
                            <td>@(Math.Round(Model.PlayerStats.WinLooseTable.Loose))</td>
                            <td>% @(Math.Round(Model.PlayerStats.WinLooseTable.WinRatio))</td>
                            <td>% @(Math.Round(Model.PlayerStats.WinLooseTable.LooseRatio))</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->        
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Oynadığı Karşılaşmalar</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="players_matches" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Tarih</th>
                  <th>Sıra</th>
                  <th>Takım</th>
                  <th>Skor</th>
                  <th>1 Sayı</th>
                  <th>2 Sayı</th>
                  <th>Ribaunt</th>
                  <th>Kapma</th>
                  <th>Asist</th>
                  <th>Kayıp</th>
                  <th>Kesme</th>
                </tr>
                </thead>
                <tbody>
                   @foreach (var stat in Model.BasketballStats)
                    {
                      var match = stat.Match;
                      var statForUI = stat.GetStatsForUI();
                      <tr>
                          <td><a asp-page="MatchDetail" asp-route-id="@match.Id">@(match.MatchDate.ToString("dd-MM-yyyy"))</a></td>
                          <td>@(match.Order)</td>
                          <td>@(stat.Team.Name)</td>
                          <td>@(Math.Round(match.HomeTeamScore)) - @(Math.Round(match.AwayTeamScore))</td>
                          <td>@(statForUI.OnePoint)</td>
                          <td>@(statForUI.TwoPoint)</td>
                          <td>@(statForUI.Rebound)</td>
                          <td>@(statForUI.StealBall)</td>
                          <td>@(statForUI.Assist)</td>
                          <td>@(statForUI.LooseBall)</td>
                          <td>@(statForUI.Interrupt)</td>                          
                      </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
                  <th>Tarih</th>
                  <th>Sıra</th>
                  <th>Takım</th>
                  <th>Skor</th>
                  <th>1 Sayı</th>
                  <th>2 Sayı</th>
                  <th>Ribaunt</th>
                  <th>Kapma</th>
                  <th>Asist</th>
                  <th>Kayıp</th>
                  <th>Kesme</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
}
    </section>
    <!-- /.content -->
