@page
@using CustomFramework.BaseWebApi.Resources

@model MySuperStats.WebUI.Pages.IndexModel

@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("MyStats");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<script>
  $(function () {
    $('#players_matches').dataTable({
      'paging'      : true,
      'searching'   : false,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : true,
      "language": {
           "url": dataTableLocalization()
      }      
    })
  })

$(document).ready(function() {

  $('#slcMatchGroup').on('change', function() {

    var culture = getCultureFromURL();
    var pageUrl = "/" + culture + "/Index/";

    var matchGroupId = this.value;

      $.ajax({
          type: "POST",
          url: pageUrl + "?handler=SelectMatchGroup",
          beforeSend: function (xhr) {
              xhr.setRequestHeader("XSRF-TOKEN",
                  $('input:hidden[name="__RequestVerificationToken"]').val());
                  $(".overlay").show();
          },
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify({  
             Id:matchGroupId
          }),     
          success: function(response, textStatus, xhr){
            if (response.startsWith("Ok")){
              location.reload();
            }
          },
          error: function(XMLHttpRequest, textStatus, error){
            alert(XMLHttpRequest.responseText);
          }
      });    
  });
});
</script>
    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-1">
                  <label>@(localizer.GetValue("FirstNameLastName"))</label> 
              </div>
              <div class="col-md-2">
                  @(Model.Player.FirstName) @(Model.Player.LastName)
              </div>
          </div>    
          <div class="row">
              <div class="col-md-1">
                  <label>@(localizer.GetValue("BirthDate"))</label> 
              </div>
              <div class="col-md-2">
                  @(Model.Player.BirthDate.ToString("dd-MM-yyyy"))
              </div>
          </div>


          @if (Model.MatchGroups.Count > 0)
          {
              <div class="row">
                <div class="col-md-1">
                    <label>@(localizer.GetValue("MatchGroup"))</label>
                </div>
                <div class="col-md-2">
                    <select id="slcMatchGroup" Name="slcMatchGroup" asp-items="Model.MatchGroups" asp-for="MatchGroupId"
                    class="form-control select2">
                    </select>     
                </div>
              </div>
          }

          <div class="row">
            <div class="col-md-12">
              <span style="color:red;">@(TempData["ErrorMessage"])</span>
            <div>
          </div>

          </div>
      </div>



@if (Model.MatchGroup != null)
{
  @if (Model.MatchGroup.MatchGroupType == Contracts.Enums.MatchGroupType.Basketball)
  {
    @if (Model.PlayerBasketballStats.Matches.Count > 0)
    {
      var totalStatForUI = Model.PlayerBasketballStats.TotalStats.GetStatsForUI();
      var perMatchStatForUI = Model.PlayerBasketballStats.PerMatchStats.GetStatsForUI();  

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("Total")) @(localizer.GetValue("Stats"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="total_stats" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("OnePoint"))</th>
                        <th>@(localizer.GetValue("TwoPoint"))</th>
                        <th>@(localizer.GetValue("Rebound"))</th>
                        <th>@(localizer.GetValue("StealBall"))</th>
                        <th>@(localizer.GetValue("Assist"))</th>
                        <th>@(localizer.GetValue("LooseBall"))</th>
                        <th>@(localizer.GetValue("Interrupt"))</th>
                        <th>@(localizer.GetValue("Lane"))</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(totalStatForUI.OnePoint)</td>
                              <td>@(totalStatForUI.TwoPoint)</td>
                              <td>@(totalStatForUI.Rebound)</td>
                              <td>@(totalStatForUI.StealBall)</td>
                              <td>@(totalStatForUI.Assist)</td>
                              <td>@(totalStatForUI.LooseBall)</td>
                              <td>@(totalStatForUI.Interrupt)</td>
                              <td>@(totalStatForUI.Lane)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("PerMatchStats"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="per_match_stats" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("OnePoint"))</th>
                        <th>@(localizer.GetValue("TwoPoint"))</th>
                        <th>@(localizer.GetValue("Rebound"))</th>
                        <th>@(localizer.GetValue("StealBall"))</th>
                        <th>@(localizer.GetValue("Assist"))</th>
                        <th>@(localizer.GetValue("LooseBall"))</th>
                        <th>@(localizer.GetValue("Interrupt"))</th>
                        <th>@(localizer.GetValue("Lane"))</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(perMatchStatForUI.OnePoint)</td>
                              <td>@(perMatchStatForUI.TwoPoint)</td>
                              <td>@(perMatchStatForUI.Rebound)</td>
                              <td>@(perMatchStatForUI.StealBall)</td>
                              <td>@(perMatchStatForUI.Assist)</td>
                              <td>@(perMatchStatForUI.LooseBall)</td>
                              <td>@(perMatchStatForUI.Interrupt)</td>
                              <td>@(perMatchStatForUI.Lane)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>

          <!-- /.row -->

          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("AverageStats"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="avg_stats" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("OnePoint")) %</th>
                        <th>@(localizer.GetValue("TwoPoint")) %</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(Model.PlayerBasketballStats.RatioTable.OnePointRatio)</td>
                              <td>@(Model.PlayerBasketballStats.RatioTable.TwoPointRatio)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("WinLooseTable"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="win_loose_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sonuçlar</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(Utils.Functions.GetFirstCharOfEnumValues(Model.PlayerBasketballStats.MatchForms))</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("WinLooseRate"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="win_loose_ratio_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("Win"))</th>
                        <th>@(localizer.GetValue("Loose"))</th>
                        <th>@(localizer.GetValue("Win")) %</th>
                        <th>@(localizer.GetValue("Loose")) %</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                                <td>@(Math.Round(Model.PlayerBasketballStats.WinLooseTable.Win))</td>
                                <td>@(Math.Round(Model.PlayerBasketballStats.WinLooseTable.Loose))</td>
                                <td>% @(Math.Round(Model.PlayerBasketballStats.WinLooseTable.WinRatio))</td>
                                <td>% @(Math.Round(Model.PlayerBasketballStats.WinLooseTable.LooseRatio))</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->        
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("PlayedMatches"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="players_matches" class="table table-bordered">
                    <thead>
                    <tr>
                      <th>@(localizer.GetValue("Date"))</th>
                      <th>@(localizer.GetValue("Order"))</th>
                      <th>@(localizer.GetValue("Team"))</th>
                      <th>@(localizer.GetValue("Score"))</th>
                      <th>@(localizer.GetValue("OnePoint"))</th>
                      <th>@(localizer.GetValue("TwoPoint"))</th>
                      <th>@(localizer.GetValue("Rebound"))</th>
                      <th>@(localizer.GetValue("StealBall"))</th>
                      <th>@(localizer.GetValue("Assist"))</th>
                      <th>@(localizer.GetValue("LooseBall"))</th>
                      <th>@(localizer.GetValue("Interrupt"))</th>   
                      <th>@(localizer.GetValue("LaneWithPoint"))</th>                  
                      <th>@(localizer.GetValue("LaneWithoutPoint"))</th>                  
                    </tr>
                    </thead>
                    <tbody>
                      @foreach (var stat in Model.BasketballStats)
                        {
                          var match = stat.Match;
                          var statForUI = stat.GetStatsForUI();                      
                          <tr>
                              <td><a asp-page="MatchDetail" asp-route-culture="@culture" asp-route-id="@match.Id">@(match.MatchDate.ToString("dd-MM-yyyy"))</a></td>
                              <td>@(match.Order)</td>
                              <td>@(stat.Team.TeamName)</td>
                              <td>@(Math.Round(match.HomeTeamScore)) - @(Math.Round(match.AwayTeamScore))</td>
                              <td>@(statForUI.OnePoint)</td>
                              <td>@(statForUI.TwoPoint)</td>
                              <td>@(statForUI.Rebound)</td>
                              <td>@(statForUI.StealBall)</td>
                              <td>@(statForUI.Assist)</td>
                              <td>@(statForUI.LooseBall)</td>
                              <td>@(statForUI.Interrupt)</td>  
                              <td>@(statForUI.Lane)</td>   
                              <td>@(statForUI.LaneWithoutPoint)</td>   
                          </tr>
                        }
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>@(localizer.GetValue("Date"))</th>
                      <th>@(localizer.GetValue("Order"))</th>
                      <th>@(localizer.GetValue("Team"))</th>
                      <th>@(localizer.GetValue("Score"))</th>
                      <th>@(localizer.GetValue("OnePoint"))</th>
                      <th>@(localizer.GetValue("TwoPoint"))</th>
                      <th>@(localizer.GetValue("Rebound"))</th>
                      <th>@(localizer.GetValue("StealBall"))</th>
                      <th>@(localizer.GetValue("Assist"))</th>
                      <th>@(localizer.GetValue("LooseBall"))</th>
                      <th>@(localizer.GetValue("Interrupt"))</th> 
                      <th>@(localizer.GetValue("LaneWithPoint"))</th>                  
                      <th>@(localizer.GetValue("LaneWithoutPoint"))</th>                  
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    }
  }
  @if (Model.MatchGroup.MatchGroupType == Contracts.Enums.MatchGroupType.Football)
  {
    @if (Model.PlayerFootballStats.Matches.Count > 0)
    {
      var totalStatForUI = Model.PlayerFootballStats.TotalStats.GetStatsForUI();
      var perMatchStatForUI = Model.PlayerFootballStats.PerMatchStats.GetStatsForUI();  

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("Total")) @(localizer.GetValue("Stats"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="total_stats" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("Goal"))</th>
                        <th>@(localizer.GetValue("OwnGoal"))</th>
                        <th>@(localizer.GetValue("PenaltyScore"))</th>
                        <th>@(localizer.GetValue("MissedPenalty"))</th>
                        <th>@(localizer.GetValue("Assist"))</th>
                        <th>@(localizer.GetValue("SaveGoal"))</th>
                        <th>@(localizer.GetValue("ConcedeGoal"))</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(totalStatForUI.Goal)</td>
                              <td>@(totalStatForUI.OwnGoal)</td>
                              <td>@(totalStatForUI.PenaltyScore)</td>
                              <td>@(totalStatForUI.MissedPenalty)</td>
                              <td>@(totalStatForUI.Assist)</td>
                              <td>@(totalStatForUI.SaveGoal)</td>
                              <td>@(totalStatForUI.ConcedeGoal)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("PerMatchStats"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="per_match_stats" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("Goal"))</th>
                        <th>@(localizer.GetValue("OwnGoal"))</th>
                        <th>@(localizer.GetValue("PenaltyScore"))</th>
                        <th>@(localizer.GetValue("MissedPenalty"))</th>
                        <th>@(localizer.GetValue("Assist"))</th>
                        <th>@(localizer.GetValue("SaveGoal"))</th>
                        <th>@(localizer.GetValue("ConcedeGoal"))</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(perMatchStatForUI.Goal)</td>
                              <td>@(perMatchStatForUI.OwnGoal)</td>
                              <td>@(perMatchStatForUI.PenaltyScore)</td>
                              <td>@(perMatchStatForUI.MissedPenalty)</td>
                              <td>@(perMatchStatForUI.Assist)</td>
                              <td>@(perMatchStatForUI.SaveGoal)</td>
                              <td>@(perMatchStatForUI.ConcedeGoal)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("WinLooseTable"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="win_loose_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sonuçlar</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                              <td>@(Utils.Functions.GetFirstCharOfEnumValues(Model.PlayerFootballStats.MatchForms))</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("WinLooseRate"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="win_loose_ratio_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>@(localizer.GetValue("Win"))</th>
                        <th>@(localizer.GetValue("Loose"))</th>
                        <th>@(localizer.GetValue("Win")) %</th>
                        <th>@(localizer.GetValue("Loose")) %</th>
                    </tr>
                    </thead>
                    <tbody>
                          <tr>
                                <td>@(Math.Round(Model.PlayerFootballStats.WinLooseTable.Win))</td>
                                <td>@(Math.Round(Model.PlayerFootballStats.WinLooseTable.Loose))</td>
                                <td>% @(Math.Round(Model.PlayerFootballStats.WinLooseTable.WinRatio))</td>
                                <td>% @(Math.Round(Model.PlayerFootballStats.WinLooseTable.LooseRatio))</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->        
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">@(localizer.GetValue("PlayedMatches"))</h3>
                </div>
                <!-- /.box-header -->
                <div class="card-body">
                  <table id="players_matches" class="table table-bordered">
                    <thead>
                    <tr>
                      <th>@(localizer.GetValue("Date"))</th>
                      <th>@(localizer.GetValue("Order"))</th>
                      <th>@(localizer.GetValue("Team"))</th>
                      <th>@(localizer.GetValue("Score"))</th>
                      <th>@(localizer.GetValue("Goal"))</th>
                      <th>@(localizer.GetValue("OwnGoal"))</th>
                      <th>@(localizer.GetValue("PenaltyScore"))</th>
                      <th>@(localizer.GetValue("MissedPenalty"))</th>
                      <th>@(localizer.GetValue("Assist"))</th>
                      <th>@(localizer.GetValue("SaveGoal"))</th>
                      <th>@(localizer.GetValue("ConcedeGoal"))</th>                  
                    </tr>
                    </thead>
                    <tbody>
                      @foreach (var stat in Model.FootballStats)
                        {
                          var match = stat.Match;
                          var statForUI = stat.GetStatsForUI();                      
                          <tr>
                              <td><a asp-page="MatchDetail" asp-route-culture="@culture" asp-route-id="@match.Id">@(match.MatchDate.ToString("dd-MM-yyyy"))</a></td>
                              <td>@(match.Order)</td>
                              <td>@(stat.Team.TeamName)</td>
                              <td>@(Math.Round(match.HomeTeamScore)) - @(Math.Round(match.AwayTeamScore))</td>
                              <td>@(statForUI.Goal)</td>
                              <td>@(statForUI.OwnGoal)</td>
                              <td>@(statForUI.PenaltyScore)</td>
                              <td>@(statForUI.MissedPenalty)</td>
                              <td>@(statForUI.Assist)</td>
                              <td>@(statForUI.SaveGoal)</td>
                              <td>@(statForUI.ConcedeGoal)</td>   
                          </tr>
                        }
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>@(localizer.GetValue("Date"))</th>
                      <th>@(localizer.GetValue("Order"))</th>
                      <th>@(localizer.GetValue("Team"))</th>
                      <th>@(localizer.GetValue("Score"))</th>
                      <th>@(localizer.GetValue("Goal"))</th>
                      <th>@(localizer.GetValue("OwnGoal"))</th>
                      <th>@(localizer.GetValue("PenaltyScore"))</th>
                      <th>@(localizer.GetValue("MissedPenalty"))</th>
                      <th>@(localizer.GetValue("Assist"))</th>
                      <th>@(localizer.GetValue("SaveGoal"))</th>
                      <th>@(localizer.GetValue("ConcedeGoal"))</th>                  
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    }
  }
}
    </section>
    <!-- /.content -->

