@page "{id:int}"
@using CustomFramework.WebApiUtils.Contracts.Resources

@using MySuperStats.Contracts.Responses
@model MySuperStats.WebUI.Pages.MatchDetailModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("MatchDetail");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
    <!-- Main content -->
    <section class="content">

      <div class="row">
          <div class="col-xs-12">
              <label>@(localizer.GetValue("Date")):</label> @(Model.MatchResponse.MatchDate.ToString("dd-MM-yyyy"))<br />
              <label>@(localizer.GetValue("Order")):</label> @(Model.MatchResponse.Order)<br />
              <label>@(localizer.GetValue("VideoLink")): </label><a href="@Model.MatchResponse.VideoLink" target="_blank">@(Model.MatchResponse.VideoLink)</a>
          </div>
      </div>

      @{
          var teams = new List<TeamResponse>();
          teams.Add(Model.MatchResponse.HomeTeam);
          teams.Add(Model.MatchResponse.AwayTeam);
      }

      @foreach(var team in teams)
      {
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <label>@(localizer.GetValue("TeamName")): </label>@(team.TeamName)<br />
                <label>@(localizer.GetValue("AverageOfTheAges")): </label>@(team.GetAgeRatioForBasketball())<br />
                <label>@(localizer.GetValue("CountOfThePlayers")): </label>@(team.BasketballStats.Count)                
                <table id="match_detail" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>@(localizer.GetValue("Player"))</th>
                    <th>@(localizer.GetValue("OnePoint"))</th>
                    <th>@(localizer.GetValue("TwoPoint"))</th>
                    <th>@(localizer.GetValue("TotalPoint"))</th>
                    <th>@(localizer.GetValue("Rebound"))</th>
                    <th>@(localizer.GetValue("StealBall"))</th>
                    <th>@(localizer.GetValue("Assist"))</th>
                    <th>@(localizer.GetValue("LooseBall"))</th>
                    <th>@(localizer.GetValue("Interrupt"))</th>
                  </tr>
                  </thead>
                  <tbody>
                      @foreach (var stats in team.BasketballStats)
                      {
                          var statsForUI = stats.GetStatsForUI();
                          <tr>
                              <td class="text-left"><a asp-page="PlayerDetail" asp-route-culture="@culture" asp-route-id="@stats.User.Id">@(stats.User.FirstName) @(stats.User.LastName)</a></td>
                              <td>@(statsForUI.OnePoint)</td>
                              <td>@(statsForUI.TwoPoint)</td>
                              <td>@(statsForUI.TotalPoint)</td>
                              <td>@(statsForUI.Rebound)</td>
                              <td>@(statsForUI.StealBall)</td>
                              <td>@(statsForUI.Assist)</td>
                              <td>@(statsForUI.LooseBall)</td>
                              <td>@(statsForUI.Interrupt)</td>
                          </tr>
                      }
                      @{
                        var totalStatsForUI = team.GetTeamTotalForBasketball().GetStatsForUI();
                      <tr>
                          <td><b>@(localizer.GetValue("Total"))</b></td>
                              <td><b>@(totalStatsForUI.OnePoint)</b></td>
                              <td><b>@(totalStatsForUI.TwoPoint)</b></td>
                              <td><b>@(totalStatsForUI.TotalPoint)</b></td>
                              <td><b>@(totalStatsForUI.Rebound)</b></td>
                              <td><b>@(totalStatsForUI.StealBall)</b></td>
                              <td><b>@(totalStatsForUI.Assist)</b></td>
                              <td><b>@(totalStatsForUI.LooseBall)</b></td>
                              <td><b>@(totalStatsForUI.Interrupt)</b></td>
                      </tr>
                      }
                  </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      }
    </section>
    <!-- /.content -->
