@page "{id:int}"
@model MySuperStats.WebUI.Pages.MatchesModel
@{
    ViewData["Title"] = "Karşılaşmalar";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<script>
  $(function () {
    $('#basketball_mainpage').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Karşılaşmalar</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="basketball_mainpage" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Tarih</th>
                  <th>Sıra</th>
                  <th>Süre</th>
                  <th>Ev Sahibi</th>
                  <th>Misafir</th>
                  <th>Sonuç</th>
                  <th>Video Bağlantısı</th>
                  <th>Detaylar</th>
                </tr>
                </thead>
                <tbody>
                   @foreach (var match in Model.MatchList)
                    {
                        <tr>
                            <td>@(match.MatchDate.ToString("dd-MM-yyyy"))</td>
                            <td>@(match.Order)</td>
                            <td>@(match.DurationInMinutes)</td>
                            <td>@(match.HomeTeam.TeamName)</td>
                            <td>@(match.AwayTeam.TeamName)</td>
                            <td>@($"{Convert.ToInt32(match.HomeTeamScore)} - {Convert.ToInt32(match.AwayTeamScore)}")</td>
                            <td><a href="@(match.VideoLink)" target="_blank">@(match.VideoLink)</a></td>
                            <td><a asp-page="MatchDetail" asp-route-culture="@culture" asp-route-id="@(match.Id)">Tıklayınız</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
                  <th>Tarih</th>
                  <th>Sıra</th>
                  <th>Süre</th>
                  <th>Ev Sahibi</th>
                  <th>Misaifr</th>
                  <th>Sonuç</th>
                  <th>Video Bağlantısı</th>
                  <th>Detaylar</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
