@page "{id:int}"
@using MySuperStats.Contracts.Responses
@model MySuperStats.WebUI.Pages.MatchDetailModel
@{
    ViewData["Title"] = "Karşılaşma detayı";
}
    <!-- Main content -->
    <section class="content">

      <div class="row">
          <div class="col-xs-12">
              <label>Tarih:</label> @(Model.MatchDetail.MatchDate.ToString("dd-MM-yyyy"))<br />
              <label>Sıra:</label> @(Model.MatchDetail.MatchOrder)<br />
              <label>Video Link: </label><a href="@Model.MatchDetail.VideoLink" target="_blank">@(Model.MatchDetail.VideoLink)</a>
          </div>
      </div>

      @{
          var teams = new List<TeamBasketballStatsResponse>();
          teams.Add(Model.MatchDetail.HomeTeamBasketballStats);
          teams.Add(Model.MatchDetail.AwayTeamBasketballStats);
      }

      @foreach(var team in teams)
      {
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <label>Takım Adı: </label>@(team.Team.Name)<br />
                <label>Rengi: </label>@(team.Team.Color)<br />
                <label>Yaş Ort.: </label>@(team.GetAgeRatio())<br />
                <label>Oyuncu Sayısı: </label>@(team.PlayerBasketballStats.Count)                
                <table id="match_detail" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Oyuncu</th>
                    <th>1 Sayı</th>
                    <th>2 Sayı</th>
                    <th>Top. Sayı</th>
                    <th>Ribaunt</th>
                    <th>Kapma</th>
                    <th>Asist</th>
                    <th>Kayıp</th>
                    <th>Kesme</th>
                  </tr>
                  </thead>
                  <tbody>
                      @foreach (var player in team.PlayerBasketballStats)
                      {
                          <tr>
                              <td class="text-left"><a asp-page="PlayerDetail" asp-route-id="@player.Player.Id">@(player.Player.FirstName) @(player.Player.Surname)</a></td>
                              <td>@(decimal.Truncate(player.BasketballStat.OnePoint)) / @(decimal.Truncate((player.BasketballStat.OnePoint + player.BasketballStat.MissingOnePoint)))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.TwoPoint)) / @(decimal.Truncate((player.BasketballStat.TwoPoint + player.BasketballStat.MissingTwoPoint)))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.OnePoint + player.BasketballStat.TwoPoint * 2))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.Rebound))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.StealBall))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.Assist))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.LooseBall))</td>
                              <td>@(decimal.Truncate(player.BasketballStat.Interrupt))</td>
                          </tr>
                      }
                      <tr>
                          <td><b>Toplam</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().OnePoint)) / @(decimal.Truncate(team.GetTeamTotal().OnePoint + team.GetTeamTotal().MissingOnePoint))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().TwoPoint)) / @(decimal.Truncate(team.GetTeamTotal().TwoPoint + team.GetTeamTotal().MissingTwoPoint))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().OnePoint + team.GetTeamTotal().TwoPoint * 2))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().Rebound))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().StealBall))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().Assist))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().LooseBall))</b></td>
                          <td><b>@(decimal.Truncate(team.GetTeamTotal().Interrupt))</b></td>
                      </tr>
                  </tbody>
                 </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      }
    </section>
    <!-- /.content -->
