@page
@using CustomFramework.WebApiUtils.Contracts.Resources

@model MySuperStats.WebUI.Pages.NewMatchGroupModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("CreateNewMatchGroup");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">@(localizer.GetValue("CreateNewMatchGroup"))</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtGroupName">@(localizer.GetValue("GroupName"))</label>
              <input type="text" asp-for="MatchGroup.GroupName" class="form-control" id="txtGroupName" placeholder="@(localizer.GetValue("Enter the name of the group"))">
              <span asp-validation-for="MatchGroup.GroupName" class="text-danger"></span>                        
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <input type="submit" id="btnCreateMatchGroup" asp-page-handler="CreateMatchGroupName" class="btn btn-primary" value="@(localizer.GetValue("Save"))"/>
          </div>
        </form>
      </div>
      <!-- /.box -->

    </div>
    <!--/.col (left) -->

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>
<!-- /.content -->