@page
@using MySuperStats.Contracts.Enums
@using CustomFramework.BaseWebApi.Resources
@model MySuperStats.WebUI.Pages.NewMatchGroupModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("CreateNewMatchGroup");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="card">
        <!-- form start -->
        <form method="post">
          <div class="card-body">

            <div class="form-group">
              <label>@(localizer.GetValue("Enter the name of the group"))</label>              
              <div class="input-group-prepend">
              <input asp-for="MatchGroup.GroupName" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter the name of the group"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-edit"></span>
                    </div>
                  </div>
              </div>  
              <span asp-validation-for="MatchGroup.GroupName" class="text-danger"></span>                        
            </div> 
            <!-- /.form group -->            

            <div class="form-group">
              <label>@(localizer.GetValue("Please select match group type"))</label>              
              <div class="input-group-prepend">
                <select asp-for="MatchGroup.MatchGroupType" class="form-control" asp-items="Html.GetEnumSelectList<MatchGroupType>()">
                  <option selected="selected" value="">@(localizer.GetValue("Please select"))</option>
                </select>                 
              </div>  
              <span asp-validation-for="MatchGroup.MatchGroupType" class="text-danger"></span> 
            </div> 
            <!-- /.form group -->            


          </div>
          <!-- /.box-body -->

          <div class="card-footer">
            <input type="submit" id="btnCreateMatchGroup" asp-page-handler="CreateMatchGroupName" class="btn btn-primary" value="@(localizer.GetValue("Save"))"/>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>  
</section>