@page "{id:int}"
@using CustomFramework.WebApiUtils.Contracts.Resources

@model MySuperStats.WebUI.Pages.PlayerDetailModel

@inject ILocalizationService localizer

@{
    ViewData["Title"] = $"{Model.PlayerStats.User.FirstName} {Model.PlayerStats.User.LastName}";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<script>
  $(function () {
    $('#players_matches').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true
    })
  })
</script>

    <!-- Main content -->
    <section class="content">

    <div class="row-fluid">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <label>@(localizer.GetValue("BirthDate")) : </label> @(Model.PlayerStats.User.BirthDate.ToString("dd-MM-yyyy"))
            <br />
            <br />
        </div>
    </div>
@if (Model.PlayerStats.Matches.Count > 0)
{
  var totalStatForUI = Model.PlayerStats.TotalStats.GetStatsForUI();
  var perMatchStatForUI = Model.PlayerStats.PerMatchStats.GetStatsForUI();  

      <div class="row">
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Toplam İstatistikler</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="total_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>@(localizer.GetValue("OnePoint"))</th>
                    <th>@(localizer.GetValue("TwoPoint"))</th>
                    <th>@(localizer.GetValue("Rebound"))</th>
                    <th>@(localizer.GetValue("StealBall"))</th>
                    <th>@(localizer.GetValue("Assist"))</th>
                    <th>@(localizer.GetValue("LooseBall"))</th>
                    <th>@(localizer.GetValue("Interrupt"))</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(totalStatForUI.OnePoint)</td>
                          <td>@(totalStatForUI.TwoPoint)</td>
                          <td>@(totalStatForUI.Rebound)</td>
                          <td>@(totalStatForUI.StealBall)</td>
                          <td>@(totalStatForUI.Assist)</td>
                          <td>@(totalStatForUI.LooseBall)</td>
                          <td>@(totalStatForUI.Interrupt)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">@(localizer.GetValue("PerMatchStats"))</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="per_match_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>@(localizer.GetValue("OnePoint"))</th>
                    <th>@(localizer.GetValue("TwoPoint"))</th>
                    <th>@(localizer.GetValue("Rebound"))</th>
                    <th>@(localizer.GetValue("StealBall"))</th>
                    <th>@(localizer.GetValue("Assist"))</th>
                    <th>@(localizer.GetValue("LooseBall"))</th>
                    <th>@(localizer.GetValue("Interrupt"))</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(perMatchStatForUI.OnePoint)</td>
                          <td>@(perMatchStatForUI.TwoPoint)</td>
                          <td>@(perMatchStatForUI.Rebound)</td>
                          <td>@(perMatchStatForUI.StealBall)</td>
                          <td>@(perMatchStatForUI.Assist)</td>
                          <td>@(perMatchStatForUI.LooseBall)</td>
                          <td>@(perMatchStatForUI.Interrupt)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">@(localizer.GetValue("AverageStats"))</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="avg_stats" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>@(localizer.GetValue("OnePoint")) %</th>
                    <th>@(localizer.GetValue("TwoPoint")) %</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(Model.PlayerStats.RatioTable.OnePointRatio)</td>
                          <td>@(Model.PlayerStats.RatioTable.TwoPointRatio)</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">@(localizer.GetValue("WinLooseTable"))</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="win_loose_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Sonuçlar</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>@(Utils.Functions.GetFirstCharOfEnumValues(Model.PlayerStats.MatchForms))</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">@(localizer.GetValue("WinLooseRate"))</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="win_loose_ratio_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>@(localizer.GetValue("Win"))</th>
                    <th>@(localizer.GetValue("Loose"))</th>
                    <th>@(localizer.GetValue("Win")) %</th>
                    <th>@(localizer.GetValue("Loose")) %</th>
                </tr>
                </thead>
                <tbody>
                      <tr>
                            <td>@(Math.Round(Model.PlayerStats.WinLooseTable.Win))</td>
                            <td>@(Math.Round(Model.PlayerStats.WinLooseTable.Loose))</td>
                            <td>% @(Math.Round(Model.PlayerStats.WinLooseTable.WinRatio))</td>
                            <td>% @(Math.Round(Model.PlayerStats.WinLooseTable.LooseRatio))</td>
                      </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->        
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">@(localizer.GetValue("PlayedMatches"))</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="players_matches" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>@(localizer.GetValue("Date"))</th>
                  <th>@(localizer.GetValue("Order"))</th>
                  <th>@(localizer.GetValue("Team"))</th>
                  <th>@(localizer.GetValue("Score"))</th>
                  <th>@(localizer.GetValue("OnePoint"))</th>
                  <th>@(localizer.GetValue("TwoPoint"))</th>
                  <th>@(localizer.GetValue("Rebound"))</th>
                  <th>@(localizer.GetValue("StealBall"))</th>
                  <th>@(localizer.GetValue("Assist"))</th>
                  <th>@(localizer.GetValue("LooseBall"))</th>
                  <th>@(localizer.GetValue("Interrupt"))</th>                  
                </tr>
                </thead>
                <tbody>
                   @foreach (var stat in Model.BasketballStats)
                    {
                      var match = stat.Match;
                      var statForUI = stat.GetStatsForUI();                      
                      <tr>
                          <td><a asp-page="MatchDetail" asp-route-culture="@culture" asp-route-id="@match.Id">@(match.MatchDate.ToString("dd-MM-yyyy"))</a></td>
                          <td>@(match.Order)</td>
                          <td>@(stat.Team.TeamName)</td>
                          <td>@(Math.Round(match.HomeTeamScore)) - @(Math.Round(match.AwayTeamScore))</td>
                          <td>@(statForUI.OnePoint)</td>
                          <td>@(statForUI.TwoPoint)</td>
                          <td>@(statForUI.Rebound)</td>
                          <td>@(statForUI.StealBall)</td>
                          <td>@(statForUI.Assist)</td>
                          <td>@(statForUI.LooseBall)</td>
                          <td>@(statForUI.Interrupt)</td>   
                      </tr>
                    }
                </tbody>
                <tfoot>
                <tr>
                  <th>@(localizer.GetValue("Date"))</th>
                  <th>@(localizer.GetValue("Order"))</th>
                  <th>@(localizer.GetValue("Team"))</th>
                  <th>@(localizer.GetValue("Score"))</th>
                  <th>@(localizer.GetValue("OnePoint"))</th>
                  <th>@(localizer.GetValue("TwoPoint"))</th>
                  <th>@(localizer.GetValue("Rebound"))</th>
                  <th>@(localizer.GetValue("StealBall"))</th>
                  <th>@(localizer.GetValue("Assist"))</th>
                  <th>@(localizer.GetValue("LooseBall"))</th>
                  <th>@(localizer.GetValue("Interrupt"))</th> 
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
}
    </section>
    <!-- /.content -->
