@page "{id:int}"
@using MySuperStats.Contracts.Requests
@using MySuperStats.Contracts.Responses

@model MySuperStats.WebUI.Pages.StatisticEntryModel
@{
    ViewData["Title"] = "İstatistik Girişi";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
    <!-- Main content -->
    <section class="content">
      <form method="post">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Maç Bilgileri</h3>
              </div>

              <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">                  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="txtMatchDate">Tarih</label>
                          <input id="txtMatchDate" asp-for="MatchRequest.MatchDate" type="date" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd"/>
                          <span asp-validation-for="MatchRequest.MatchDate" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="txtOrder">Sıra</label>
                          <input id="txtOrder" asp-for="MatchRequest.Order" class="form-control"/>
                          <span asp-validation-for="MatchRequest.Order" class="text-danger"></span>                        
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="txtDurationInMinutes">Maç Süresi (dk)</label>
                          <input id="txtDurationInMinutes" asp-for="MatchRequest.DurationInMinutes" class="form-control"/>
                          <span asp-validation-for="MatchRequest.DurationInMinutes" class="text-danger"></span>                        
                        </div>
                      </div>                      
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="txtVideoLink">Video Bağlantısı</label>
                          <input id="txtVideoLink" asp-for="MatchRequest.VideoLink" type="text" class="form-control"/>
                          <span asp-validation-for="MatchRequest.VideoLink" class="text-danger"></span>                        
                        </div>   
                      </div>
                    </div>    
                    <!-- row -->
                  <div class="box-footer">
                    <div class="row">
                      <div class="col-md-12">
                        <button id="btnEntryStats" type="button" class="btn btn-success btn-lg"> <!-- data-toggle="modal" data-target="#StatsEntry" > -->
                          İstatistik Gir
                        </button>
                      </div>
                    </div>

              

                    @Html.HiddenFor(m=>m.IsModalVisible)

                    @section scripts{
                      
                      <script>
                          // Removed the unnecessary `$(function() { ...` here and the matching closing bits at the end
                          $("#btnEntryStats").click(function(e){
                            e.preventDefault();
                            var orderValidation = $('#txtOrder').valid();
                            var durationValidation = $('#txtDurationInMinutes').valid();
                            var videoLinkValidation = $('#txtVideoLink').valid();
                            if(orderValidation && durationValidation && videoLinkValidation){
                                $('#StatsEntry').modal('show');
                            }
                          });                    
                      </script>

                      <!-- <script>
                          // Removed the unnecessary `$(function() { ...` here and the matching closing bits at the end
                          $("#btnSaveMatch").click(function(e){
                            e.preventDefault();
                            $('#GridErrors').text('');
                            var orderValidation = $('#txtOrder').valid();
                            var durationValidation = $('#txtDurationInMinutes').valid();
                            var videoLinkValidation = $('#txtVideoLink').valid();
                            var homeTeamStatsCount = @(Model.MatchResponse.HomeTeam.BasketballStats.Count);
                            var awayTeamStatsCount = @(Model.MatchResponse.AwayTeam.BasketballStats.Count);
                            if(orderValidation && durationValidation && videoLinkValidation){
                                if(homeTeamStatsCount > 0 && awayTeamStatsCount >  0){
                                  alert('Kayıt başarılı');
                                }
                                else{
                                  $('#GridErrors').text('Takım istatistiklerinde en az 1 adet kayıt olmalı.');
                                }
                            }
                          });                    
                      </script>                       -->

                      <script>
                        $('#StatsEntry').on('show.bs.modal', function (e) {
                            $('#IsModalVisible').val(true);
                        })
                      </script>

                        @if (Model.IsModalVisible)
                        {
                          <script>
                            $(function(){
                                  $('#StatsEntry').modal('show');
                            });   
                          </script>                       
                        }  
                        else
                        {
                          <script>
                            document.getElementById('slcTeamId').value = 0;
                            document.getElementById('slcPlayerId').value = 0;
                            document.getElementById('txtOnePoint').value = 0;
                            document.getElementById('txtMissingOnePoint').value = 0;
                            document.getElementById('txtTwoPoint').value = 0;
                            document.getElementById('txtMissingTwoPoint').value = 0;
                            document.getElementById('txtRebound').value = 0;
                            document.getElementById('txtStealBall').value = 0;
                            document.getElementById('txtLooseBall').value = 0;
                            document.getElementById('txtAssist').value = 0;
                            document.getElementById('txtInterrupt').value = 0;
                          </script>
                        }

                    }              

                    <div class="modal fade" id="StatsEntry" tabindex="-1" role="dialog" aria-labelledby="">
                        <div class="modal-dialog-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">İstatistik Gir</h4>
                                </div>
                                    <div class="modal-body">

                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Takım Seçiniz</label>
                                              <select id="slcTeamId" Name="teamId" asp-items="Model.TeamList" asp-for="TeamId" class="form-control select2" style="width: 100%;">
                                                <option value="0">Takım Seçiniz</option>
                                              </select>
                                              <span asp-validation-for="TeamId" class="text-danger"></span>
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label>Oyuncu Seçiniz</label>
                                              <select id="slcPlayerId" Name="playerId" asp-items="Model.PlayerList" 
                                                  asp-for="PlayerId" class="form-control select2" style="width: 100%;">
                                                  <option value="0">Oyuncu Seçiniz</option>
                                              </select>
                                              <span asp-validation-for="PlayerId" class="text-danger"></span>
                                            </div>
                                            <!-- /.form-group -->
                                          </div>                    
                                        </div>
                                        <!-- row -->

                                        <div class="row">
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>1 Sayı</label>
                                              <input id="txtOnePoint" asp-for="StatRequest.OnePoint" class="form-control"/>
                                              <span asp-validation-for="StatRequest.OnePoint" class="text-danger"></span>
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Kaçan 1 Sayı</label>
                                              <input id="txtMissingOnePoint" asp-for="StatRequest.MissingOnePoint" class="form-control"/>
                                              <span asp-validation-for="StatRequest.MissingOnePoint" class="text-danger"></span>
                                            </div>
                                            <!-- /.form-group -->
                                          </div>  
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>2 Sayı</label>
                                              <input id="txtTwoPoint" asp-for="StatRequest.TwoPoint" class="form-control"/>
                                              <span asp-validation-for="StatRequest.TwoPoint" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Kaçan 2 Sayı</label>
                                              <input id="txtMissingTwoPoint" asp-for="StatRequest.MissingTwoPoint" class="form-control"/>
                                              <span asp-validation-for="StatRequest.MissingTwoPoint" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>   
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Rebound</label>
                                              <input id="txtRebound" asp-for="StatRequest.Rebound" class="form-control"/>
                                              <span asp-validation-for="StatRequest.Rebound" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Top Çalma</label>
                                              <input id="txtStealBall"  asp-for="StatRequest.StealBall" class="form-control"/>
                                              <span asp-validation-for="StatRequest.StealBall" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>   
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Asist</label>
                                              <input id="txtAssist" asp-for="StatRequest.Assist" class="form-control"/>
                                              <span asp-validation-for="StatRequest.Assist" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>     
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Top Kaybı</label>
                                              <input id="txtLooseBall" asp-for="StatRequest.LooseBall" class="form-control"/>
                                              <span asp-validation-for="StatRequest.LooseBall" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>                                             
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <label>Pas arası</label>
                                              <input id="txtInterrupt" asp-for="StatRequest.Interrupt" class="form-control"/>
                                              <span asp-validation-for="StatRequest.Interrupt" class="text-danger"></span>                                                
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <input type="submit" id="AddToMatchDetail" asp-page-handler="AddStatsToTable"  style="margin-top:25px;" 
                                                class="btn btn-primary" value="Tabloya Ekle" />
                                            </div>
                                            <!-- /.form-group -->
                                          </div>                      
                                          <div class="col-md-1">
                                            <div class="form-group">
                                              <button type="button" style="margin-top:25px;" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                            </div>
                                            <!-- /.form-group -->
                                          </div>                                            
                                        </div>
                                        <!-- row -->
                                        <div class="row">
                                          <div class="col-md-12">
                                            <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
                                          <div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
            <!-- /.box -->
          </div>
        </div>
         @{
            var teams = new List<TeamResponse>();
            
            teams.Add(Model.MatchResponse.HomeTeam);
            teams.Add(Model.MatchResponse.AwayTeam);
        }


        @foreach(var team in teams)
        {
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="match_detail" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Oyuncu</th>
                      <th>1 Sayı</th>
                      <th>2 Sayı</th>
                      <th>Top. Sayı</th>
                      <th>Ribaunt</th>
                      <th>Kapma</th>
                      <th>Asist</th>
                      <th>Kayıp</th>
                      <th>Kesme</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var playerStat in team.BasketballStats)
                        {
                            var statForUI = playerStat.GetStatsForUI();
                            var player = playerStat.User;
                            <tr>
                                <td class="text-left"><a asp-page="PlayerDetail" asp-route-culture="@culture" asp-route-id="@player.Id">@(player.FirstName) @(player.Surname)</a></td>
                                <td>@(statForUI.OnePoint)</td>
                                <td>@(statForUI.TwoPoint)</td>
                                <td>@(statForUI.TotalPoint)</td>
                                <td>@(statForUI.Rebound)</td>
                                <td>@(statForUI.StealBall)</td>
                                <td>@(statForUI.Assist)</td>
                                <td>@(statForUI.LooseBall)</td>
                                <td>@(statForUI.Interrupt)</td>
                            </tr>
                        }
                      @{
                        var totalStatsForUI = team.GetTeamTotalForBasketball().GetStatsForUI();
                      <tr>
                          <td><b>Toplam</b></td>
                              <td><b>@(totalStatsForUI.OnePoint)</b></td>
                              <td><b>@(totalStatsForUI.TwoPoint)</b></td>
                              <td><b>@(totalStatsForUI.TotalPoint)</b></td>
                              <td><b>@(totalStatsForUI.Rebound)</b></td>
                              <td><b>@(totalStatsForUI.StealBall)</b></td>
                              <td><b>@(totalStatsForUI.Assist)</b></td>
                              <td><b>@(totalStatsForUI.LooseBall)</b></td>
                              <td><b>@(totalStatsForUI.Interrupt)</b></td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        }

        <div class="row">
          <div class="col-md-12">
              <h3><span id="GridErrors" class="text-danger" style="margin: 20px, 20px, 20px, 20px;"></span></h3>
          </div>
        </div>
        <!-- /.row -->          

        <div class="row">
          <div class="col-md-12">
            <input type="submit" id="btnSaveMatch" asp-page-handler="SaveMatch"  style="margin-top:25px;" 
              class="btn btn-primary" value="Maç Kaydını Tamamla" />            
          </div>
        </div>
      <!-- /.row -->          
      </form>
     </section>
    <!-- /.content -->
