@page
@using CustomFramework.WebApiUtils.Contracts.Resources

@using MySuperStats.WebUI.Pages
@model MySuperStats.WebUI.Pages.UpdateUserProfileModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("UpdateUserInfo");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<script>
$(document).ready(function() {
//https://uxsolutions.github.io/bootstrap-datepicker/?markup=component&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=linked&clearBtn=false&language=tr&orientation=bottom%20auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
$('.input-group.date').datepicker({
    todayBtn: "linked",
    language: "tr",
    orientation: "bottom auto"
});

  var urlArray = window.location.href.split('/');
  var culture = urlArray[urlArray.length - 2];

  var pageUrl = "/" + culture + "/UpdateUserProfile";

$( "#btnUpdateEmailRequest" ).click(function(evt) {
    evt.preventDefault();
    $.ajax({
        type: "POST",
        url: pageUrl + "/?handler=UpdateEmail",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
                $(".overlay").show();
        },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: $("#txtEmail").val(),         
        success: function(response, textStatus, xhr){
          if (response == "OK"){
            $("#errorDivForEmailUpdate").hide();
            $("#successDivForEmailUpdate").show();
          }
          else{
            $("#errorDivForEmailUpdate").show();
            $("#errorMessageForEmailUpdate").text(response);                  
          }
        },
        error: function(XMLHttpRequest, textStatus, error){
          $("#errorDivForEmailUpdate").show();
          $("#errorMessageForEmailUpdate").text(GetLocalizedValue(pageUrl, "AnErrorHasOccured"));
        },
        complete: function(){
          $(".overlay").hide();
        }
    });
});

} );
</script>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">@(localizer.GetValue("UpdateUserInfo"))</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtFirstName">@(localizer.GetValue("FirstName"))</label>
              <input type="text" class="form-control" id="txtFirstName" asp-for="PlayerUpdate.FirstName" placeholder="@(localizer.GetValue("Enter the firstname"))">
              <span asp-validation-for="PlayerUpdate.FirstName" class="text-danger"></span>                        
            </div>
            <div class="form-group">
              <label for="txtLastName">@(localizer.GetValue("LastName"))</label>
              <input type="text" class="form-control" id="txtLastName" asp-for="PlayerUpdate.LastName" placeholder="@(localizer.GetValue("Enter the lastname"))">
              <span asp-validation-for="PlayerUpdate.LastName" class="text-danger"></span>                        
            </div>
            <div class="form-group">
              <label for="txtBirthDate">@(localizer.GetValue("BirthDate"))</label>
              <div class="input-group date">
                <input type="text" class="form-control" asp-for="PlayerUpdate.BirthDate" placeholder="@(localizer.GetValue("Enter the birth date"))">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-th"></i>
                </span>
              </div>              
            </div>            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <input type="submit" id="btnUpdateProfile" class="btn btn-primary" asp-page-handler="UpdateProfile"
            value="@(localizer.GetValue("UpdateUserInfo"))"/>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->

    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">@(localizer.GetValue("UpdateEmail"))</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtEmail">@(localizer.GetValue("EmailAddress"))</label>
              <input type="text" class="form-control" id="txtEmail" asp-for="EmailUpdateRequest.NewEmail" placeholder="@(localizer.GetValue("Enter the e-mail address"))">
              <span asp-validation-for="EmailUpdateRequest.NewEmail" class="text-danger"></span>                        
            </div>             
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
                <input type="submit" id="btnUpdateEmailRequest" class="btn btn-primary" 
                value="@(localizer.GetValue("UpdateEmail"))"/>
          </div>

          <div class="container">
            <div id="successDivForEmailUpdate" class="alert alert-success" style="display:none">
              <strong>@(localizer.GetValue("Successful"))!</strong> <span id="successMessageForEmailUpdate">@(localizer.GetValue("SuccessMessageForEmailUpdate"))</span>
            </div>     
            <div id="errorDivForEmailUpdate" class="alert alert-danger" style="display:none">
              <strong>@(localizer.GetValue("Error"))!</strong> <span id="errorMessageForEmailUpdate">@(localizer.GetValue("AnErrorHasOccured"))</span>
            </div>
          </div>
         
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right") -->



  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>

</section>
<!-- /.content -->