@page
@using CustomFramework.BaseWebApi.Resources
@using MySuperStats.WebUI.Pages
@model MySuperStats.WebUI.Pages.UpdateUserProfileModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("UpdateUserInfo");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<script>
$(document).ready(function() {
//https://uxsolutions.github.io/bootstrap-datepicker/?markup=component&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=linked&clearBtn=false&language=tr&orientation=bottom%20auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
$('.input-group.date').datepicker({
    todayBtn: "linked",
    language: "tr",
    orientation: "bottom auto"
});

  var urlArray = window.location.href.split('/');
  var culture = urlArray[urlArray.length - 2];

  var pageUrl = "/" + culture + "/UpdateUserProfile";

$( "#btnUpdateEmailRequest" ).click(function(evt) {
    evt.preventDefault();

    var form = $("#frmEmailUpdate");
    form.validate();
    
    alert(pageUrl);

    $.ajax({
        type: "POST",
        url: pageUrl + "/?handler=UpdateEmail",
        beforeSend: function (xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
                $(".overlay").show();
        },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: $("#txtEmail").val(),         
        success: function(response, textStatus, xhr){
          if (response == "OK"){
            $("#errorDivForEmailUpdate").hide();
            $("#successDivForEmailUpdate").show();
          }
          else{
            $("#errorDivForEmailUpdate").show();
            $("#errorMessageForEmailUpdate").text(response);                  
          }
        },
        error: function(XMLHttpRequest, textStatus, error){
          $("#errorDivForEmailUpdate").show();
          $("#errorMessageForEmailUpdate").text(GetLocalizedValue(pageUrl, "AnErrorHasOccured"));
        },
        complete: function(){
          $(".overlay").hide();
        }
    });
});

} );
</script>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="card">
        <!-- form start -->
        <form method="post">
          <div class="card-body">

            <div class="form-group">
              <label>@(localizer.GetValue("Enter the firstname"))</label>              
              <div class="input-group-prepend">
                  <input asp-for="PlayerUpdate.FirstName" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter the firstname"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-edit"></span>
                    </div>
                  </div>
              </div>  
                <span asp-validation-for="PlayerUpdate.FirstName" class="text-danger"></span>                        
            </div> 
            <!-- /.form group --> 

            <div class="form-group">
              <label>@(localizer.GetValue("Enter the lastname"))</label>              
              <div class="input-group-prepend">
                  <input asp-for="PlayerUpdate.LastName" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter the lastname"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-edit"></span>
                    </div>
                  </div>
              </div>  
                <span asp-validation-for="PlayerUpdate.LastName" class="text-danger"></span>                        
            </div> 
            <!-- /.form group -->

            <!-- Date dd/mm/yyyy -->
            <div class="form-group">
              <label>@(localizer.GetValue("Enter the birth date"))</label>              
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
                <input type="text" asp-for="PlayerUpdate.BirthDate" placeholder="@(localizer.GetValue("BirthDate"))" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
              </div>
              <!-- /.input group -->
              <span asp-validation-for="PlayerUpdate.BirthDate" class="text-danger"></span>                        
            </div>
            <!-- /.form group -->           
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <input type="submit" id="btnUpdateProfile" class="btn btn-primary" asp-page-handler="UpdateProfile"
            value="@(localizer.GetValue("UpdateUserInfo"))"/>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!--/.col (left) -->

    <div class="col-md-6">
      <div class="card">
        <!-- form start -->
        <form id="frmEmailUpdate" method="post">
          <div class="card-body">

            <div class="form-group">
              <label>@(localizer.GetValue("Enter your e-mail address"))</label>              
              <div class="input-group-prepend">
              <input id="txtEmail" asp-for="EmailUpdateRequest.NewEmail" class="form-control" type="email" placeholder="@(localizer.GetValue("Enter the e-mail address"))">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
              </div>  
              <span asp-validation-for="EmailUpdateRequest.NewEmail" class="text-danger"></span>
            </div> 
            <!-- /.form group -->  
          
          </div>
          <!-- /.box-body -->

          <div class="card-footer">
                <input type="submit" id="btnUpdateEmailRequest" class="btn btn-primary" value="@(localizer.GetValue("UpdateEmail"))"/>
          </div>

          <div class="container">
            <div id="successDivForEmailUpdate" class="alert alert-success" style="display:none">
              <strong>@(localizer.GetValue("Successful"))!</strong> <span id="successMessageForEmailUpdate">@(localizer.GetValue("SuccessMessageForEmailUpdate"))</span>
            </div>     
            <div id="errorDivForEmailUpdate" class="alert alert-danger" style="display:none">
              <strong>@(localizer.GetValue("Error"))!</strong> <span id="errorMessageForEmailUpdate">@(localizer.GetValue("AnErrorHasOccured"))</span>
            </div>
          </div>
         
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right") -->



  </div>
  <!-- /.row -->



  <div class="row">
    <div class="col-md-12">
      <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
    <div>
  </div>

</section>
<!-- /.content -->