@page
@using CustomFramework.WebApiUtils.Contracts.Resources

@model MySuperStats.WebUI.Pages.UserProfileModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("UserInfo");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">@(localizer.GetValue("UserInfo"))</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="txtFirstName">@(localizer.GetValue("FirstName"))</label>
              <p class="text-muted">
                @(Model.UserInfo.FirstName)
              </p>              
            </div>
            <div class="form-group">
              <label for="txtLastName">@(localizer.GetValue("LastName"))</label>
              <p class="text-muted">
                @(Model.UserInfo.LastName)
              </p> 
            </div>
            <div class="form-group">
              <label for="txtEmailAddress">@(localizer.GetValue("EmailAddress"))</label>
              <p class="text-muted">
                @(Model.UserInfo.Email)
              </p> 
            </div>            
            <div class="form-group">
              <label for="txtBirthDate">@(localizer.GetValue("BirthDate"))</label>
              <div class="input-group date">
                <p class="text-muted">
                  @(Model.UserInfo.BirthDate.ToShortDateString())
                </p> 
              </div>              
            </div>            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <input type="submit" id="btnUpdateProfile" asp-page-handler="UpdateUserProfile"  class="btn btn-primary" value="@(localizer.GetValue("UpdateUserInfo"))"/>            
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (left) -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->