@page
@using CustomFramework.BaseWebApi.Resources
@model MySuperStats.WebUI.Pages.UserProfileModel
@inject ILocalizationService localizer

@{
    ViewData["Title"] = localizer.GetValue("UserInfo");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!-- Main content -->
<section class="content">

  <div class="card">
    <form method="post">
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <label>@(localizer.GetValue("FirstName"))</label> 
            </div>
            <div class="col-md-2">
                @(Model.UserInfo.Player.FirstName)
            </div>
        </div>    
        <div class="row">
            <div class="col-md-2">
                <label>@(localizer.GetValue("LastName"))</label> 
            </div>
            <div class="col-md-2">
                @(Model.UserInfo.Player.LastName)
            </div>
        </div>        
        <div class="row">
            <div class="col-md-2">
                <label>@(localizer.GetValue("EmailAddress"))</label> 
            </div>
            <div class="col-md-2">
                @(Model.UserInfo.Email)
            </div>
        </div>        
        <div class="row">
            <div class="col-md-2">
                <label>@(localizer.GetValue("BirthDate"))</label> 
            </div>
            <div class="col-md-2">
                @(Model.UserInfo.Player.BirthDate.ToShortDateString())
            </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-1">
              <input type="submit" id="btnUpdateProfile" asp-page-handler="UpdateUserProfile"  class="btn btn-primary" value="@(localizer.GetValue("UpdateUserInfo"))"/>            
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
<!-- /.content -->