@page "{culture}"
@model ConfirmEmailModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Confirmation of e-mail");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p>
                @TempData["SuccessMessage"]
                <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
            <!-- @(localizer.GetValue("Thank you for confirming e-mail")) <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Please click here to login"))</a>.-->
            </p>
            <div class="row">
                <div class="col-xs-8">      
                    <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Login"))</a><br>
                </div>  
            </div>
        </div> 
    </div>
</div>
