@page "{culture}"
@model ForgotPasswordModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Forgot password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">    
        <div class="card-body register-card-body">

            <p class="login-box-msg">@(localizer.GetValue("Enter your e-mail address"))</p>
            <form method="post">

                <div class="input-group mb-3">
                    <input asp-for="Input.EmailAddress" type="email" class="form-control" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
                </div>                

                <button type="submit" class="btn btn-primary">@(localizer.GetValue("Submit"))</button>
            </form>

            <p>
                <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
            </p>

            <br>

            <p class="mb-1">
                <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Login"))</a><br>
            </p>
            <p class="mb-1">
                <partial name="_LanguagePartial"/>
            </p>            
        </div>
    </div>
    <!-- card-->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
