@page
@model ForgotPasswordModel
@using MySuperStats.WebUI.Utils
@{
    ViewData["Title"] = @AppConstants.ForgotMyPassword;
    Layout = "_LoginLayout";
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
  <div class="register-box-body">
    <p class="login-box-msg">@AppConstants.EnterYourEmail</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.EmailAddress" class="form-control" placeholder="@AppConstants.Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@AppConstants.Submit</button>
        </form>

        <a asp-page="./Login">@AppConstants.Login @AppConstants.ReturnToPage</a><br>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
