@page "{culture}"
@model ForgotPasswordModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Forgot password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
  <div class="register-box-body">

        <p class="login-box-msg">@(localizer.GetValue("Enter your e-mail address"))</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.EmailAddress" class="form-control" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@(localizer.GetValue("Submit"))</button>
        </form>

        <br>
        <div class="row">
            <div class="col-xs-8">      
                <a asp-page="./Login" asp-route-culture="@culture">@(localizer.GetValue("Login"))</a><br>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-8">
                <partial name="_LanguagePartial"/>
            </div>                
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
