@page "{culture}"
@model LoginModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Login");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="login-box">
  <div class="login-logo">
    <b>MySuperStats</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">@(localizer.GetValue("PleaseLogin"))</p>

    <form id="account" method="post">
      <div asp-validation-summary="All" class="text-danger"></div>

      <div class="form-group has-feedback">
        <input asp-for="Input.Login.UserName" class="form-control" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span asp-validation-for="Input.Login.UserName" class="text-danger"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Input.Login.Password" class="form-control" placeholder="@(localizer.GetValue("Enter your password"))">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span asp-validation-for="Input.Login.Password" class="text-danger"></span> 
      </div>
      <div class="row">
        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
                <input asp-for="Input.RememberMe" />
                            @(localizer.GetValue("Remember me"))
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">@(localizer.GetValue("Sign in"))</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    @section scripts{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    -->
    <!-- /.social-auth-links -->
    <br>
    <div class="row">
        <div class="col-xs-8">
          <a asp-page="./ForgotPassword" asp-route-culture="@culture" >@(localizer.GetValue("Forgot password"))</a><br>
        </div>      
    </div>
    <div class="row">
        <div class="col-xs-8">      
          <a asp-page="./Register" asp-route-culture="@culture" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">@(localizer.GetValue("New membership"))</a>
        </div>  
    </div>
    <br>
    <div class="row">    
        <div class="col-xs-8">
          <partial name="_LanguagePartial"/>
        </div>                
    </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->