@page "{culture}"
@model LoginModel
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Login");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="login-box">
  <div class="login-logo">
      <b>MySuperStats</b>
  </div>
  <!-- /.login-logo -->
<form method="post">


  <div class="card">
    <div class="card-body login-card-body">

        <p class="login-box-msg">@(localizer.GetValue("PleaseLogin"))</p>

          <div asp-validation-summary="All" class="text-danger"></div>

          <div class="input-group mb-3">
            <input asp-for="Input.Login.Email" class="form-control" type="text" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>                   

          <div class="input-group mb-3">
            <input asp-for="Input.Login.Password" class="form-control" type="password" placeholder="@(localizer.GetValue("Enter your password"))">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div> -->
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">@(localizer.GetValue("Sign in"))</button>
            </div>
            <!-- /.col -->
          </div>

        <p class="mb-1">
          <span style="color:red;">@(Html.ValidationMessage("ModelErrors"))</span>
        </p>

        <br/>
        <p class="mb-1">
          <a asp-page="./ForgotPassword" asp-route-culture="@culture" >@(localizer.GetValue("Forgot password"))</a>
        </p>
        <p class="mb-1">
          <a asp-page="./Register" asp-route-culture="@culture" asp-route-returnUrl="@Model.ReturnUrl">@(localizer.GetValue("New membership"))</a>
        </p>
        <p class="mb-1">
          <partial name="_LanguagePartial"/>
        </p>
      </div>
    <!-- /.login-card-body -->
  </div>
</form>      
</div>
<!-- /.login-box -->


