@page
@model RegisterModel
@using MySuperStats.WebUI.Utils
@{
    ViewData["Title"] = @AppConstants.NewMembership;
    Layout = "_LoginLayout";
}

<div class="register-box">
  <div class="register-logo">
    <b>@AppConstants.AppName</b>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">@AppConstants.NewMembership</p>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group has-feedback">
        <input asp-for="Input.FirstName" class="form-control" placeholder="@AppConstants.FirstName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Input.Surname" class="form-control" placeholder="@AppConstants.Surname">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span asp-validation-for="Input.Surname" class="text-danger"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Input.BirthDate" class="form-control" placeholder="@AppConstants.BirthDate">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
      </div>    
      <div class="form-group has-feedback">
        <input asp-for="Input.Username" class="form-control" placeholder="@AppConstants.Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
      </div>        
      <div class="form-group has-feedback">
        <input asp-for="Input.Email" class="form-control" placeholder="@AppConstants.Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Input.Password" class="form-control" placeholder="@AppConstants.Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@AppConstants.ReTypePassword">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
      </div>
      <div class="row">
        <!--
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> <a href="#">@AppConstants.IAgreeToTheTerms</a>
            </label>
          </div>
        </div>
        -->
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">@AppConstants.Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>
    -->

    <a asp-page="./Login" class="text-center">@AppConstants.IAlreadyHaveAMembership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
