@page
@model ResetPasswordModel
@using MySuperStats.WebUI.Utils
@{
    ViewData["Title"] = @AppConstants.ResetPassword;
    Layout = "_LoginLayout";
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
  <div class="register-box-body">
    <p class="login-box-msg">@AppConstants.ResetPassword</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="@AppConstants.Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" class="form-control" placeholder="@AppConstants.Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@AppConstants.ReTypePassword">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@AppConstants.Reset</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
