@page "{culture}"
@model ResetPasswordModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.WebApiUtils.Contracts.Resources

@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Reset password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
  <div class="register-box-body">
    <p class="login-box-msg">@(localizer.GetValue("Reset password"))</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="@(localizer.GetValue("Enter your e-mail address"))">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" class="form-control" placeholder="@(localizer.GetValue("Enter your password"))">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@(localizer.GetValue("Please re-type your password"))">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@(localizer.GetValue("Submit"))</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
