@page "{culture}"
@model ResetPasswordModel
@using MySuperStats.WebUI.Utils
@using CustomFramework.BaseWebApi.Resources
@inject ILocalizationService localizer
@{
    ViewData["Title"] = localizer.GetValue("Reset password");
    Layout = "_LoginLayout";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;    
}

<div class="register-box">
    <div class="register-logo">
        <b>@AppConstants.AppName</b>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">@(localizer.GetValue("Reset password"))</p>
            <form method="post">
                <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
                <input asp-for="Input.Code" type="hidden" />

                <div class="input-group mb-1">
                <input asp-for="Input.Email" class="form-control"  placeholder="@(localizer.GetValue("Enter your e-mail address"))">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                    </div>
                </div>
                </div>
                <div class="input-group mb-2">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="input-group mb-1">
                <input asp-for="Input.Password" class="form-control" placeholder="@(localizer.GetValue("Enter your password"))">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                </div>
                </div>
                <div class="input-group mb-2">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            
                <div class="input-group mb-1">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@(localizer.GetValue("Please re-type your password"))">
                <div class="input-group-append">
                    <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                    </div>
                </div>
                </div>
                <div class="input-group mb-2">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>                

                <button type="submit" class="btn btn-primary btn-block btn-flat">@(localizer.GetValue("Submit"))</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
