@using CustomFramework.BaseWebApi.Contracts.ApiContracts

@using Microsoft.AspNetCore.Http
@using MySuperStats.WebUI.ApplicationSettings
@using MySuperStats.WebUI.Utils
@using System.Collections.Generic
@using MySuperStats.Contracts.Responses
@using Newtonsoft.Json
@using MySuperStats.WebUI.Constants
@using MySuperStats.Contracts.Enums
@using System.Net
@using CustomFramework.BaseWebApi.Resources
@inject IWebApiConnector<WebApiResponse> webApiConnector
@inject ISession session
@inject AppSettings appSettings
@inject ILocalizationService localizer

@{ 
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ViewData["Title"] - MySuperStats.WebUI</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="~/lib/ionicons-min/css/ionicons.min.css">
  <!-- daterange picker -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/daterangepicker/daterangepicker.css">  
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="~/lib/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Tabulator -->
  <link href="~/lib/tabulator/dist/css/tabulator.min.css" rel="stylesheet">

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="~/lib/datatables.net-dt/css/jquery.dataTables.min.css">  

  <!-- Custom css -->
  <link rel="stylesheet" href="~/css/site.css">  

  <style>
    #loading-img {
        background: url(https://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat;
        height: 100%;
        z-index: 20;
    }

    .overlay {
        background: #e9e9e9;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
  </style>

  <!-- jQuery -->
  <script src="~/lib/admin-lte/plugins/jquery/jquery.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>
  <!-- Bootstrap 4 -->
  <script src="~/lib/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- InputMask -->
  <script src="~/lib/admin-lte/plugins/moment/moment.min.js"></script> 
  <script src="~/lib/admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
  <!-- daterangepicker -->
  <script src="~/lib/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="~/lib/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
  <!-- Tabulator -->
  <script type="text/javascript" src="~/lib/tabulator/dist/js/tabulator.min.js"></script>
  <!-- DataTables -->
  <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>


  <!-- Custom script -->
  <script src="~/js/site.js"></script>
  <!-- page script -->

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  @{var loggedUser = SessionUtil.GetLoggedUser(session);
    var loggedPlayer = loggedUser.Player;
  }

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <partial name="_LanguagePartial"/>
      <a asp-page="/Logout" asp-route-culture="@culture" class="nav-link">@(localizer.GetValue("Logout"))</a>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div style="background-color:#007bff;text-align: center;">
      <a asp-page="/Index" asp-route-culture="@culture" class="brand-link">
        <!-- <img src="~/lib/admin-lte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8"> -->
        <span class="brand-text font-weight-bold">My Super Stats</span>
      </a>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        @{
            var getUrl = $"{appSettings.WebApiUrl}{String.Format(ApiUrls.GetAllMatchGroupsByUserId, loggedUser.Id)}";
            var response = webApiConnector.GetAsync(getUrl, culture, SessionUtil.GetToken(session)).Result;
            
            if(response.StatusCode != HttpStatusCode.OK)
            {
              throw new Exception(response.Message);
            }

            var mygroups = JsonConvert.DeserializeObject<List<MatchGroupResponse>>(response.Result.ToString());
            foreach(var group in mygroups)
            {
              
              var permissionArray = $"permissions={PermissionEnum.CreateBasketballStat}&permissions={PermissionEnum.CreateFootballStat}&permissions={PermissionEnum.AddUserToRole}";
              var permissionGetUrl = $"{appSettings.WebApiUrl}{String.Format(ApiUrls.GetPermissions, loggedUser.Id, group.Id, permissionArray)}";
              var permissionResponse = webApiConnector.GetAsync(permissionGetUrl, culture, SessionUtil.GetToken(session)).Result;
              if(permissionResponse.StatusCode != HttpStatusCode.OK)
              {
                throw new Exception(permissionResponse.Message);
              }
              var permissions = JsonConvert.DeserializeObject<PermissionCheckerResponse>(permissionResponse.Result.ToString());


          <li class="nav-item has-treeview" id="@group.Id">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                @(group.GroupName)
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" id="@group.Id">
              <li class="nav-item">
                <a id="@group.Id" class="nav-link" asp-page="/MatchGroupDetail" asp-route-culture="@culture" asp-route-id="@group.Id">
                  <i class="fas fa-info nav-icon"></i>
                  <p>@(localizer.GetValue("MatchGroupInfo"))</p>
                </a>
              </li>
              <li class="nav-item">
                <a id="@group.Id" class="nav-link" asp-page="/Matches" asp-route-culture="@culture" asp-route-id="@group.Id">
                  <i class="fas fa-trophy nav-icon"></i>
                  <p>@(localizer.GetValue("Matches"))</p>
                </a>
              </li>
              <li class="nav-item">
                <a id="@group.Id" class="nav-link" asp-page="/Players" asp-route-culture="@culture" asp-route-id="@group.Id">
                  <i class="fas fa-running nav-icon"></i>
                  <p>@(localizer.GetValue("Players"))</p>
                </a>
              </li>
              <li class="nav-item">
              @{
                if(group.MatchGroupType == MatchGroupType.Basketball)
                {                
                  <a id="@group.Id" class="nav-link" asp-page="/TopBasketballStats" asp-route-culture="@culture" asp-route-id="@group.Id">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <p>@(localizer.GetValue("TopStats"))</p>
                  </a>
                }
                else if(group.MatchGroupType == MatchGroupType.Football)
                {
                  <a id="@group.Id" class="nav-link" asp-page="/TopFootballStats" asp-route-culture="@culture" asp-route-id="@group.Id">
                    <i class="fas fa-chart-bar nav-icon"></i>
                    <p>@(localizer.GetValue("TopStats"))</p>
                  </a>                  
                }
              }
              </li>
              @{
                if(group.MatchGroupType == MatchGroupType.Basketball)
                {
                  if(Functions.GetPermissionValue(permissions.PermissionDetails, PermissionEnum.CreateBasketballStat.ToString()) == true) 
                  { 
                    <li class="nav-item">
                      <a id="@group.Id" class="nav-link" asp-page="/BasketballStatsEntry" asp-route-culture="@culture" asp-route-id="@group.Id">
                        <i class="far fa-edit nav-icon"></i>
                        <p>@(localizer.GetValue("StatisticEntry"))</p>
                      </a>
                    </li>                                                  
                  }
                }
                else if(group.MatchGroupType == MatchGroupType.Football)
                {
                  if(Functions.GetPermissionValue(permissions.PermissionDetails, PermissionEnum.CreateFootballStat.ToString()) == true) 
                  { 
                    <li class="nav-item">
                      <a id="@group.Id" class="nav-link" asp-page="/FootballStatsEntry" asp-route-culture="@culture" asp-route-id="@group.Id">
                        <i class="far fa-edit nav-icon"></i>
                        <p>@(localizer.GetValue("StatisticEntry"))</p>
                      </a>
                    </li>                                                   
                  }
                }  
                if(Functions.GetPermissionValue(permissions.PermissionDetails, PermissionEnum.AddUserToRole.ToString()) == true) 
                {
                    <li class="nav-item">
                      <a id="@group.Id" class="nav-link" asp-page="/PlayerPermissions" asp-route-culture="@culture" asp-route-id="@group.Id">
                        <i class="far fa-check-circle nav-icon"></i>
                        <p>@(localizer.GetValue("PlayerPermissions"))</p>
                      </a>
                    </li>                        
                } 
              }
            </ul>
          </li>
          }
        }
          <li class="nav-item has-treeview" id="-1">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                @(localizer.GetValue("Settings"))
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a id="-1" class="nav-link" asp-page="/NewMatchGroup" asp-route-culture="@culture">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p>@(localizer.GetValue("CreateNewMatchGroup"))</p>
                </a>
              </li>
              <li class="nav-item">
                <a id="-1" class="nav-link" asp-page="/UserProfile" asp-route-culture="@culture">
                  <i class="fas fa-user-circle nav-icon"></i>
                  <p>@(localizer.GetValue("MyProfile"))</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>@(ViewData["Title"])</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>


    <div class="overlay">
        <div id="loading-img"></div>
    </div>

  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <strong>Copyright &copy; 2019 MySuperStats</strong>
    <div class="float-right d-none d-sm-inline-block">
      <!-- <b>Version</b> 3.0.0-rc.5 -->
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<script>
  $(function () {
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('[data-mask]').inputmask()
  });

    $('a').click(function() {
      var id = this.id;
      if(id > 0 || id == -1){
        sessionStorage['last-id'] = id;
      }
      else{
        sessionStorage.clear();
      }
    });

    $('.sidebar-menu li').each(function() {
        $('.treeview li').each(function() {
            $('li#' + sessionStorage['last-id']).addClass("menu-open");
        });
    });   

    $('#' + sessionStorage['last-id'] + ' ul').css("display", "block");     
</script>

    @RenderSection("Scripts", required: false)
</body>
</html>