@page
@model MatchModel
@{
    ViewData["Title"] = "Maçlar";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Sıra</th>
            <th>Maç Süresi</th>
            <th>Ev Sahibi Takım</th>
            <th>Misafir Takım</th>
            <th>Skor</th>
            <th>Video Link</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td>@match.MatchInfo.MatchDate.ToString("dd-MM-yyyy")</td>
                <td>@match.MatchInfo.Order</td>
                <td>@match.MatchInfo.DurationInMinutes</td>
                <td>@match.MatchInfo.HomeTeam.Name</td>
                <td>@match.MatchInfo.AwayTeam.Name</td>
                <td>@match.HomeTeamScore - @match.AwayTeamScore</td>
                <td><a href="@match.MatchInfo.VideoLink" target="_blank">@match.MatchInfo.VideoLink</a></td>
                <td><a asp-page="MatchDetail" asp-route-id="@match.MatchInfo.Id">Tıklayınız</a></td>
            </tr>
        }
    </tbody>
</table>