@page
@model MatchDetailModel
@{
    ViewData["Title"] = "İstatistikler";
}
<h2>@ViewData["Title"]</h2>


<label>Tarih:</label> @Model.MatchDetail.MatchInfo.MatchDate.ToString("dd-MM-yyyy")<br />
<label>Sıra:</label> @Model.MatchDetail.MatchInfo.Order<br />
<label>Video Link: </label><a href="@Model.MatchDetail.MatchInfo.VideoLink" target="_blank">@Model.MatchDetail.MatchInfo.VideoLink</a><br />
<br /><br />
@foreach (var team in Model.MatchDetail.Teams)
{
    <label>Takım Adı: </label>@team.TeamInfo.Name<br/>
    <label>Rengi: </label>@team.TeamInfo.Color<br/>
    <label>Yaş Ort.: </label>@team.AgeRatio<br/>
    <label>Oyuncu Sayısı: </label>@team.PlayerCount
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Oyuncu</th>
                <th>1 Sayı</th>
                <th>2 Sayı</th>
                <th>Ribaunt</th>
                <th>Kapma</th>
                <th>Asist</th>
                <th>Kayıp</th>
                <th>Kesme</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in team.PlayerStats)
            {
                <tr>
                    <td><a asp-page="PlayerDetail" asp-route-id="@player.Player.Id">@player.Player.Name @player.Player.Surname</a></td>
                    <td>@player.Stat.OnePoint / @(player.Stat.OnePoint + player.Stat.MissingOnePoint)</td>
                    <td>@player.Stat.TwoPoint / @(player.Stat.TwoPoint + player.Stat.MissingTwoPoint)</td>
                    <td>@player.Stat.Rebound</td>
                    <td>@player.Stat.StealBall</td>
                    <td>@player.Stat.Assist</td>
                    <td>@player.Stat.LooseBall</td>
                    <td>@player.Stat.Interrupt</td>
                </tr>
            }
        <tr>
            <td><b>Toplam</b></td>
            <td><b>@team.TeamStats.OnePoint / @(team.TeamStats.OnePoint + team.TeamStats.MissingOnePoint)</b></td>
            <td><b>@team.TeamStats.TwoPoint / @(team.TeamStats.TwoPoint + team.TeamStats.MissingTwoPoint)</b></td>
            <td><b>@team.TeamStats.Rebound</b></td>
            <td><b>@team.TeamStats.StealBall</b></td>
            <td><b>@team.TeamStats.Assist</b></td>
            <td><b>@team.TeamStats.LooseBall</b></td>
            <td><b>@team.TeamStats.Interrupt</b></td>
        </tr>
        </tbody>
    </table>
}

<a asp-page="Match">Maçlar Sayfasına Geri Dön</a>
