@page
@using BasketballStats.WebSite.Pages
@model BasketballStats.WebSite.Pages.MatchModel
@{
    ViewData["Title"] = "Maçlar";
}

<div class="row-fluid">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <br />
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Tarih</th>
                        <th class="text-center">Sıra</th>
                        <th class="text-center">Maç Süresi</th>
                        <th class="text-center">Ev Sahibi Takım</th>
                        <th class="text-center">Misafir Takım</th>
                        <th class="text-center">Skor</th>
                        <th class="text-center">Video Link</th>
                        <th class="text-center">Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in Model.Matches)
                    {
                        <tr>
                            <td>@match.MatchDate.ToString("dd-MM-yyyy")</td>
                            <td>@match.MatchOrder</td>
                            <td>@match.MatchDuration</td>
                            <td>@match.HomeTeamName</td>
                            <td>@match.AwayTeamName</td>
                            <td>@match.HomeTeamScore - @match.AwayTeamScore</td>
                            <td><a href="@match.VideoLink" target="_blank">@match.VideoLink</a></td>
                            <td><a asp-page="MatchDetail" asp-route-id="@match.MatchId">Tıklayınız</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
