@page
@using System.Globalization
@model PlayerDetailModel
@{
    ViewData["Title"] = $"{Model.PlayerDetailInfo.Name} {Model.PlayerDetailInfo.Surname}";
}
<div class="row-fluid">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>

        <label>Doğum Tarihi:</label> @Model.PlayerDetailInfo.BirthDate.ToString("dd-MM-yyyy")
        <br />
        <br />
    </div>
</div>


@if (Model.PlayerDetailInfo.Stats.Count > 0)
{
    <div class="row-fluid">
        <div class="col-md-6">
            <label>Toplam İstatistikler</label>

            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>1 Sayı</th>
                            <th>2 Sayı</th>
                            <th>Ribaunt</th>
                            <th>Kapma</th>
                            <th>Asist</th>
                            <th>Kayıp</th>
                            <th>Kesme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.OnePoint) / @Math.Round((Model.PlayerDetailInfo.TotalStats.OnePoint + Model.PlayerDetailInfo.TotalStats.MissingOnePoint))</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.TwoPoint) / @Math.Round((Model.PlayerDetailInfo.TotalStats.TwoPoint + Model.PlayerDetailInfo.TotalStats.MissingTwoPoint))</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.Rebound)</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.StealBall)</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.Assist)</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.LooseBall)</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.TotalStats.Interrupt)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-6">
            <label>Maç Başına İstatistikler</label>

            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>1 Sayı</th>
                            <th>2 Sayı</th>
                            <th>Ribaunt</th>
                            <th>Kapma</th>
                            <th>Asist</th>
                            <th>Kayıp</th>
                            <th>Kesme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.OnePoint / @(Model.PlayerDetailInfo.PerMatchStats.OnePoint + Model.PlayerDetailInfo.PerMatchStats.MissingOnePoint)</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.TwoPoint / @(Model.PlayerDetailInfo.PerMatchStats.TwoPoint + Model.PlayerDetailInfo.PerMatchStats.MissingTwoPoint)</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.Rebound</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.StealBall</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.Assist</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.LooseBall</td>
                            <td>@Model.PlayerDetailInfo.PerMatchStats.Interrupt</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-4">
            <label>Ortalama İstatistikler</label>

            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>1 Sayı %</th>
                            <th>2 Sayı %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>% @Model.PlayerDetailInfo.RatioTable.OnePointRatio</td>
                            <td>% @Model.PlayerDetailInfo.RatioTable.TwoPointRatio</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-4">
            <label>Galibiyet-Mağlubiyet Tablosu</label>

            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Sonuçlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Utils.ConvertFunctions.GetFirstCharOfEnumValues(Model.PlayerDetailInfo.MatchForms)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-4">
            <label>Kazanma/Kaybetme Oranı</label>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Kazanma</th>
                            <th>Kaybetme</th>
                            <th>Kazanma %</th>
                            <th>Kaybetme %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Math.Round(Model.PlayerDetailInfo.WinLooseTable.Win)</td>
                            <td>@Math.Round(Model.PlayerDetailInfo.WinLooseTable.Loose)</td>
                            <td>% @Math.Round(Model.PlayerDetailInfo.WinLooseTable.WinRatio)</td>
                            <td>% @Math.Round(Model.PlayerDetailInfo.WinLooseTable.LooseRatio)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <label>Oynadığı Maçlar</label>

            <div class="table-responsive">

                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Tarih</th>
                            <th>Sıra</th>
                            <th>Takım</th>
                            <th>Skor</th>
                            <th>1 Sayı</th>
                            <th>2 Sayı</th>
                            <th>Ribaunt</th>
                            <th>Kapma</th>
                            <th>Asist</th>
                            <th>Kayıp</th>
                            <th>Kesme</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stat in Model.PlayerDetailInfo.Stats.OrderBy(p => p.Match.MatchDate).ThenBy(p => p.Match.Order))
                        {
                            var match = stat.Match;
                            <tr>
                                <td><a asp-page="MatchDetail" asp-route-id="@match.Id">@match.MatchDate.ToString("dd-MM-yyyy")</a></td>
                                <td>@match.Order</td>
                                <td>@stat.Team.Name</td>
                                <td>@Math.Round(match.HomeTeamScore) - @Math.Round(match.AwayTeamScore)</td>
                                <td>@Math.Round(stat.OnePoint) / @Math.Round((stat.OnePoint + stat.MissingOnePoint))</td>
                                <td>@Math.Round(stat.TwoPoint) / @Math.Round((stat.TwoPoint + stat.MissingTwoPoint))</td>
                                <td>@Math.Round(stat.Rebound)</td>
                                <td>@Math.Round(stat.StealBall)</td>
                                <td>@Math.Round(stat.Assist)</td>
                                <td>@Math.Round(stat.LooseBall)</td>
                                <td>@Math.Round(stat.Interrupt)</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}



