@page
@model StatisticModel
@{
    ViewData["Title"] = "İstatistikler";
}

<br/>
<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">

            <label>Sayı Krallığı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Sayı Krallığı %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioTotalPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                @foreach (var stat in Model.Statistics.TotalOnePoints)
                {
                    <tr>
                        <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                        <td>@stat.Result</td>
                        <td>@stat.MatchCount</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                @foreach (var stat in Model.Statistics.TotalTwoPoints)
                {
                    <tr>
                        <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                        <td>@stat.Result</td>
                        <td>@stat.MatchCount</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioOnePoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioTwoPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı İsabet Yüzdesi</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.OnePointRatio)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı İsabet Yüzdesi</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TwoPointRatio)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Rebound</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalRebounds)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Rebound %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioRebounds)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Çalma</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalStealBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Çalma %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioStealBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kaybı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalLooseBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kaybı %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioLooseBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Asist</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalAsists)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Asist %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioAsists)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kesme</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.TotalInterrupts)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kesme %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.Statistics.RatioInterrupts)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
