@page
@model StatisticModel
@{
    ViewData["Title"] = "İstatistikler";
}

<br />
<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">

            <label>Sayı Krallığı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Sayı Krallığı (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchTotalPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalOnePoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalTwoPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchOnePoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchTwoPoints)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>1 Sayı İsabet Yüzdesi</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.OnePointRatio)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>2 Sayı İsabet Yüzdesi</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TwoPointRatio)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Rebound</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalRebounds)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Rebound (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchRebounds)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Çalma</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalStealBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Çalma (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchStealBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kaybı</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalLooseBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kaybı (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchLooseBalls)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Asist</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalAsists)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Asist (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchAsists)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kesme</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalInterrupts)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@decimal.Truncate(stat.Result)</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Top Kesme (Maç Başına)</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.PerMatchInterrupts)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Kazanma</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalWin)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Kaybetme</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.TotalLoose)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>@stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Kazanma %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.RatioWin)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="col-md-3">
        <div class="table-responsive">
            <label>Kaybetme %</label>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <tbody>
                    @foreach (var stat in Model.StatisticInfo.RatioLoose)
                    {
                        <tr>
                            <td><a asp-page="PlayerDetail" asp-route-id="@stat.PlayerId">@stat.Name</a></td>
                            <td>% @stat.Result</td>
                            <td>@stat.MatchCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>